/*!
 * @copyright &copy; Kartik Visweswaran, Krajee.com, 2013
 * @version 1.0.0
 *
 * A simple yet powerful JQuery star rating plugin for Bootstrap.
 *
 * Built originally for Yii Framework 2.0. But is usable across frameworks & scenarios.
 * For more JQuery/Bootstrap plugins and demos visit http://plugins.krajee.com
 * For more Yii related demos visit http://demos.krajee.com
 */

/*
 * Stars
 */
.star-rating s, .star-rating-rtl s {
    padding: 2px;
}
.star-rating s,
.star-rating-rtl s {
    color: #ccc;
    text-decoration: none;
    cursor: not-allowed;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.star-rating-disabled {
    opacity: 0.65;
}
.star-rating-active s, .star-rating-rtl-active s {
    cursor: default;
}

.star-rating-active s:hover:before, .star-rating s.rated:before {
    content: "\e006";
    color: #F5911B;
}
.star-rating s:before {
    content: "\e007";
}
.star-rating-rtl-active s:hover:after, .star-rating-rtl s.rated:after{
    content: "\e006";
    color: #F5911B;
}
.star-rating-rtl s:after {
    content: "\e007";
}
.star-rating-active s:hover:before, .star-rating-rtl-active s:hover:after {
    color: #fde16d;
}
/**
 * Rating sizes
 */
.rating-xl {
    font-size: 50px;
    line-height: 32px;
}
.rating-lg {
    font-size: 40px;
    line-height: 26px;   
}
.rating-md {
    font-size: 24px;
    line-height: 21px;   
}
.rating-sm {
    font-size: 26px;
    line-height: 17px;   
}
.rating-xs {
    font-size: 21px;
    line-height: 14px;   
}
/**
 * Clear rating button
 */
.star-rating .clear-rating, .star-rating-rtl .clear-rating {
    color: #aaa;
    cursor: not-allowed;
    display: inline-block;
    vertical-align: middle;
    font-size: 70%;
}
.clear-rating-active {
    cursor: pointer!important;
}
.clear-rating-active:hover {
    color: #843534;
}
.star-rating .clear-rating {
    padding-right: 5px;
}
.star-rating-rtl .clear-rating {
    padding-left: 5px;
}
.rating-xl .clear-rating {
    padding-bottom: 20px;
}
.rating-lg .clear-rating {
    padding-bottom: 17px;
}
.rating-md .clear-rating {
    padding-bottom: 15px;
}
.rating-sm .clear-rating {
    padding-bottom: 12px;
}
.rating-xs .clear-rating {
    padding-bottom: 10px;
}
/**
 * Caption
 */
.star-rating .caption, .star-rating-rtl .caption {
    color: #999;
    display: inline-block;
    vertical-align: middle;
}
.rating-xl .caption {
    font-size: 24px;
    padding-bottom: 25px;
}
.rating-lg .caption {
    font-size: 20px;
    padding-bottom: 22px;
}
.rating-md .caption {
    font-size: 18px;
    padding-bottom: 20px;
}
.rating-sm .caption {
    font-size: 16px;
    padding-bottom: 17px;
}
.rating-xs .caption {
    font-size: 14px;
    padding-bottom: 12px;
}

