lobal StyleSheet - Apprikaa*/
/*Author - Sowemimo Bamidele*/
/*Author URL - https://nativebrands.co*/
/*Author Email: sowemimobamidele@gmail.com*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	/*line-height: 1;*/
}
ol, ul {
	list-style: none;
	padding: 0px;
	margin: 0px;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

:focus{
	outline: none !important;
}

/*Globals*/

@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,300,400,700);
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);
@import url(https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);

body {
	font-family: 'Open Sans', sans-serif !important;
}

a{
	outline: none !important;
}

#main{
	background-color: #fff;
}

.halfwidth{
	width: 49%;
}

.sections{
	float: left;
	width: 100%;
	position: relative;
}

.sections.regular{
	padding: 70px 0px;
}

.sections.medium{
	padding: 40px 0px;
}

.section-bottom{
	float: left;
	width: 100%;
	margin-bottom: 40px;
}

.sections.grey{
	background-color: #f3f3f3;
}

.sections.green{
	background-color: #12AD2C;
	color: #fff;
}

.sections.orange{
	background-color: #F5911B;
	color: #fff;
}

.sections.light{
	background-color: #fff;
}

.sections.peach{
	background-color: #f9f9f9;
}

.sections.gradients,
.gradients{
	background: linear-gradient(to right, #12AD2C , #F5911B);
}

.no-pad{
	padding: 0px !important;
}

.no-pad-right{
	padding-right: 0px !important;
}

.gradient-top-bottom{
	background:linear-gradient(to top, #12AD2C , #f5911b75);
	color: #fff;
}

.gradient-left-right{
	background:linear-gradient(to right, #12AD2C , #F5911B);
	color: #fff;
}

/*Elements*/
.btn-centered{
	text-align: center !important;
	width: 100%;
	float: left;
}

.btn-centered .btn{
	background: linear-gradient(to right, #12AD2C , #F5911B);
	color: #fff;
	padding: 10px 15px;
}

.btn-centered .btn i{
	font-size: 16px;
	position: relative;
	top: 3px;
}

.top{
	position: fixed;
	float: right;
	right: 3%;
	bottom: 10%;
	padding: 8px;
	z-index: 2;
	background-color:#12AD2C;
	border-radius: 50em;
	color: #fff;
	height: 40px;
	width: 40px;
	font-size: 20px;
	line-height: 35px;
	display: none;
}

/*Elements Ends*/

/*Titles All Start*/
.titles-all{
	float: left;
	width: 100%;
}

.titles-all h3{
	font-weight: 600;
	margin: 0px;
}

.titles-all h3 span{
	font-weight: 400;
}

.titles-all .btn{
	float: right;
	background: linear-gradient(to right, #12AD2C , #F5911B);
	border-radius: 5px;
	padding: 8px 15px;
	color: #fff;
	border:0px;
}

.titles-all i{
	font-size: 18px;
	position: relative;
	top: 3px;
}

@media (max-width: 767px) {
	.titles-all .btn{
		/*float: none;*/
		padding: 5px 8px;
	}

	.titles-all h3{
		font-size: 16px;
		margin: 0px;
	}
}

/*Titles All End*/

/*Header*/
.navbar{
	margin-bottom: -100px !important;
	border-bottom: 0px solid #ffffff !important;
	border-left:0px !important;
	border-right:0px !important;
	border-top:0px !important;
	border-radius: 0px !important;
	background-color: transparent !important;
	padding: 8px 0px;
	z-index: 1;
}

.navbar a{
	color: #ffffff !important;
}

.navbar li a.active{
	/*color:#F5911B !important;*/
	font-weight: 700;
	/*border-bottom: 2px solid #12AD2C;*/
}

@media (min-width: 768px) {
	.mobile-logo{
		display: none;
	}
}

@media (max-width: 767px) {
	.mobile-logo{
		float: left;
		width: 100%;
		position: relative;
		display: block;
	}	
}

.mobile-logo img{
	width: 6em;
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 20px;
}

@media (max-width: 767px) {
	.nav.navbar-nav.navbar-right{
		float: left;
		width: 100%;
	}

	.action-btn{
		margin: 0px !important;
		border:0px !important;
		padding: 0px !important;
		margin-bottom: 10px !important;
		margin-left: 10px !important;
	}
}

.ic-sm{
	font-size: 18px !important;
}

.ic-stats{
	font-size: 40px !important;
	margin-bottom: -10px;
}

.navbar-brand img{
	width: 6em;
}

@media (max-width: 991px) {
	.navbar-collapse{
		width: 100%;
		margin-left: 0px !important;
		margin-right: 0px !important;
	}	
}

@media (max-width: 991px){
	.navbar-brand img{
		width: 4.5em;
	}

	.navbar-default .navbar-toggle{
		border: 0px;
		top: 10px;
		background-color: transparent !important;
	}

	.navbar-default .navbar-toggle:hover,
	.navbar-default .navbar-toggle:focus{
		background-color: transparent !important;
	}

	.navbar-default .navbar-toggle .icon-bar{
		background-color: #fff !important;
	}

	.navbar.solid .navbar-toggle .icon-bar{
		background-color: #12AD2C !important;
	}

	.navbar.solid .navbar-toggle{
		border: 0px;
		top: 0px;
		background-color: transparent !important;
	}
}

.action-btn{
	cursor: pointer;
}

@media (max-width: 991px) {
	.navbar-collapse.collapse {
		display: none !important;
	}
	.navbar-collapse.collapse.in {
		display: block !important;
	}
	.navbar-header .collapse, .navbar-toggle {
		display:block !important;
	}
	.navbar-header {
		float:none;
	}
}

@media (max-width: 991px) {
	.login-btn-mobile{
		float: right;
		border: 2px solid #12AD2C;
		border-radius: 5px;
		padding: 7px 14px;
		top: -45px;
		position: relative;
		right: 14%;
		margin-bottom: -25px;
	}

	.login-btn-mobile i{
		font-size: 17px !important;
		position: relative;
		top: 3px;
	}	
}

@media (min-width: 992px) {
	.login-btn-mobile{
		display: none !important;
	}
}

.action-btn a{
	border:2px solid #ffffff;
	border-radius: 5px;
	padding: 8px 15px !important;
	-webkit-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
}

.action-btn i{
	font-size: 17px;
	position: relative;
	top: 3px;
}

.panel i{
	font-size: 18px;
	position: relative;
	top: 3px;
}

.action-btn a:hover{
	background-color: #ffffff !important;
	color: #12AD2C !important;
	/*box-shadow: 0 2px 42px -2px rgba(0,0,0,0.4);*/
	top: -2px;
}

.backhome a:hover{
	box-shadow: none;
}

.backhome i{
	font-size: 14px;
}

.action-btn{
	margin-right: 30px;
	border-right: 1px solid #ffffff;
	padding: 0px 50px;
	top: 9px;
}

.account-btn i{
	position: relative;
	top: 4px;
}

.badge.inverse{
	background-color: #F5911B !important;
}

/*Header Ends*/

/*Solid Header*/
.navbar.solid{
	margin-bottom: 0px !important;
	/*border-bottom: 1px solid #12AD2C !important;*/
	border-left:0px !important;
	border-right:0px !important;
	border-top:0px !important;
	border-radius: 0px !important;
	background-color: #ffffff !important;
	padding: 15px 0px;
	/*box-shadow: 0 2px 42px -2px rgba(0,0,0,0.4);*/
}

.navbar.solid a{
	color:#12AD2C !important;
}

.navbar.solid .navbar-brand{
	position: relative;
	bottom: 17px;
}

.navbar.solid .action-btn a{
	border:2px solid #12AD2C;
	border-radius: 5px;
	padding: 8px 15px !important;
	-webkit-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
}

.navbar.solid .action-btn{
	margin-right: 30px;
	border-right: 1px solid #12AD2C;
	padding: 0px 50px;
	top: 9px;
}
/*Solid Header Ends*/

/*Temp*/
.cart-holder .dropdown-menu a{
	color: #000 !important;
}

@media (max-width: 991px) {
	.cart-holder .badge{
		background-color: #fff !important;
		color: #12AD2C;
	}

	.cart-holder{
		border-top: 1px solid #fff;
	}

	.navbar-nav{
		margin: 0px;
	}
}

.cart-holder .badge{
	position: absolute;
	top: 21%;
	right: 0;
	height: 20px;
	width: 20px;
	font-size: 12px;
	line-height: 13px;
	background-color: #12AD2C;
	box-shadow: 0 2px 15px -2px rgba(0,0,0,0.2);
}

/*Hero*/
.hero{
	height: 680px;
	/*background: linear-gradient(to right, #12AD2C , #F5911B);*/
}

#hero-section{
	background-size:cover;
}

@media (max-width: 767px) {
	#hero-section{
		background-size: contain;
		background-repeat: no-repeat;
		background-color: #2ead2c;
	}

	.intro-box-wrapper{
		display: none;
	}

	.hero{
		height: 500px;
	}

	.slick-initialized .slick-slide{
		padding: 0px;
	}

	.spotlight-carousel .slick-prev{
		left: 35% !important;
	}

	.spotlight-carousel .slick-next{
		float: left;
		left: 53%;
	}

	#businesses .slick-prev,
	#businesses .slick-next{
		top: 450px !important;
	}

	#deals .slick-prev,
	#deals .slick-next{
		top: 470px !important;
	}

	#events .slick-prev,
	#events .slick-next{
		top: 510px !important;
	}
}

@media (max-width: 580px) {
	#hero-section{
		background-color: #2ead2c;
	}
}

@media (max-width: 480px) {
	#hero-section{
		/*background-size: 500px;*/
		background-repeat: no-repeat;
		background-color: #2ead2c;
	}

	.hero-search{
		top: 35% !important;
	}
}

.hero-title{
	text-align: center;
	float: left;
	width: 100%;
	position: absolute;
	top: 25%;
}

.hero-search{
	text-align: center;
	float: left;
	width: 100%;
	position: absolute;
	top: 55%;
}

.zindex{
	z-index: 0;
}

.search-home-icon{
	font-size: 20px !important;
	position: relative;
	top: 6px;
}

.search-apr{
	position: absolute;
	width: 1.5em !important;
	top: 15px;
	left: 6px;
}

.search-apr.icon{
	color: #808080;
	left: 0px;
	font-size: 22px;
}

.hero-search .form-control{
	padding-left: 30px !important;
}

.hero-search .form-group{
	position: relative;
}

.close-share-tools{
	color: #fff;
	cursor: pointer;
}

@media (min-width: 992px){
	.hero-search .form-control{
		padding: 20px;
		height: 50px;
		border:0px;
		width: 300px !important;
	}
}

@media (max-width: 1199px){
	#main-slider{
		margin-top: -30px !important;
	}

	.hero-link{
		bottom: 28% !important;
	}
}

@media (max-width: 991px){
	#main-slider{
		/*margin-top: 0px !important;*/
	}

	.hero-link{
		bottom: 15% !important;
	}
	
	.hero-title{
		top: 30%;
	}	

	.hero-title h1{
		font-size: 30px;
	}

	.hero-search{
		padding: 40px;
	}

	.hero-search .form-control{
		padding: 20px;
		height: 50px;
		border:0px;
		width: 200px !important;
	}
}

@media (max-width: 1199px){
	.hero-search{
		top: 40%;
	} 
}

@media (max-width: 991px){
	.hero-search{
		top: 43%;
	}
}

@media (max-width: 767px){
	.hero-search .form-control{
		width: 100% !important;
	}

	.hero-title{
		top: 16%;
	}

	.hero-search{
		top: 25%;
	}

	#main-slider{
		background-color: #32ab2d !important;
	}

	.hero-link{
		display: none;
	}

	.hero-title h4{
		font-size: 14px;
	}

	.contact-btn .btn{
		display: none;
	}

	.hero-title h1{
		font-size: 28px;
	}

	/*#main-slider{
		height: 100vh !important;
	}

	#main-slider .overlay{
		height: 100vh !important;
	}

	.intro-box-wrapper{
		margin-top: -10px !important;
		}*/
	}

	.hero-search .btn{
		padding: 13px 30px;
		border:2px solid #fff;
		color: #fff;
		background-color: transparent;
	}

	.hero-search .btn:hover{
		background-color: #fff;
		color: #12AD2C;
		border:2px solid #fff;
	}

	.hero-title h1,
	.hero-title h4{
		color:#ffffff;
	}

	.hero-link{
		float: left;
		width: 100%;
		position: absolute;
		bottom: 50%;
		text-align: center;
		color: #fff;
	}

	.hero-link a,
	.hero-link a:hover{
		color:#ffffff;
		text-decoration: underline;
	}
	/*Hero Ends*/

	/*Intro Boxes Start*/
	.intro-box-wrapper{
		margin-top: -50px;
		z-index: 0;
		padding-bottom: 70px;
		float: left;
		width: 100%;
		position: relative;
	}

	.intro-boxes{
		text-align: center;
		background-color: #fff;
		padding: 50px 30px;
		border-radius: 10px;
		box-shadow: 0 2px 42px -15px rgba(0,0,0,0.4);
		-webkit-transition: all .3s ease;
		-o-transition: all .3s ease;
		transition: all .3s ease;
	}

	.intro-boxes img{
		width: 6em;
		margin: 0 auto;
	}

	.intro-boxes:hover{
		box-shadow: 0 2px 42px -7px rgba(0,0,0,0.4);
		-webkit-transform: scale(1.05);
		-ms-transform: scale(1.05);
		-o-transform: scale(1.05);
		transform: scale(1.05);
	}


	@media (max-width: 991px) {
		.intro-box-wrapper{
			margin-top: -80px;
			margin-bottom: -40px;
		}

		.intro-boxes{
			margin-bottom: 30px;
		}

		.intro-boxes h3{
			font-size: 20px;
		}

		.intro-boxes img{
			width: 4em;
		}
	}
	/*Intro Boxes Ends*/

	/*Spotlights Business*/
	.spotlight-carousel{
		margin-top: 40px;
		float: left;
		position: relative;
		width: 100%;
	}

	.spotlight-carousel .slick-prev{
		box-shadow: 0 2px 42px -7px rgba(0,0,0,0.4);
		background-color: #fff;
		border-radius: 50px !important;
		color: #000;
		height: 40px;
		width: 40px;
		left: -35px;
	}

	.spotlight-carousel .slick-prev:before{
		color: #12AD2C;
	}

	.spotlight-carousel .slick-next{
		box-shadow: 0 2px 42px -7px rgba(0,0,0,0.4);
		background-color: #fff;
		border-radius: 50px !important;
		color: #000;
		height: 40px;
		width: 40px;
		right: -35px;
	}

	.spotlight-carousel .slick-next:before{
		color: #12AD2C;
	}

	@media (max-width: 991px) {
		.spotlight-carousel .slick-next{
			right: -5px;
			z-index: 1;
		}

		.spotlight-carousel .slick-prev{
			left: -5px;
			z-index: 1;
		}
	}

	.slick-prev:hover, .slick-prev:focus, .slick-next:hover, .slick-next:focus{
		background-color: #fff !important;
	}

	.carousel-item{
		border-radius: 5px;
		position: relative;
		overflow: hidden;
		background-color: #ffffff;
		box-shadow: 0 2px 21px -30px rgba(0,0,0,0.50);
		margin-bottom: 30px;
		-webkit-transition: all .4s ease;
		-o-transition: all .4s ease;
		transition: all .4s ease;
	}

	.carousel-item:hover{
		box-shadow: 0 2px 42px -7px rgba(0,0,0,0.4);
	}

	.feat-img{
		position: relative;
		overflow: hidden;
	}

	.overlay{
		background: linear-gradient(to top, #12AD2C , #F5911B);
		/*background: linear-gradient(to bottom, #12ad2c21 , #ffff0061);*/
		position: absolute;
		top: 0;
		width: 100%;
		height: 100%;
	}

	.spots-status{
		position: absolute;
		float: right;
		right: 4%;
		bottom: 4%;
		padding: 4px 10px;
		border:2px solid #ffffff;
		color: #ffffff;
		border-radius: 5px;
		font-size: 11px;
	}

	.spots-head .img-thumb,
	.single-review .img-thumb{
		border-radius: 50em;
		height: 80px;
		width: 80px;
		position: relative;
		top: -40px;
		left: 10%;
		overflow: hidden;
		box-shadow: 0 2px 21px -30px rgba(0,0,0,0.50);
	}

	.single-review .title i{
		font-size: 16px;
		position: relative;
		top: 3px;
	}

	@media (max-width: 767px) {
		.single-review .img-thumb{
			margin: 0 auto;
			left: 0;
		}

		.single-review .title{
			text-align: center;
			margin-bottom: 10px;
		}
	}

	.spots-title{
		padding: 10px 0px 10px 20px;
	}

	.spots-title h5{
		margin: 0px;
		margin-bottom: 7px;
	}

	.spots-title h5 a{
		font-size: 16px;
		color: #656565;
	}

	.spots-title h5 span{
		color: #12AD2C;
	}

	.spots-title i{
		font-size: 15px;
		position: relative;
		top: 3px;
		color: #61428c;
	}

	.landmark-share i{
		font-size: 16px;
		position: relative;
		top: 3px;
		color: #808080;
	}

	.landmark-share{
		border-top: 2px solid rgba(123,123,123,0.56);
		float: left;
		width: 100%;
		position: relative;
		padding: 10px 0px;
		overflow: hidden;
	}

	.landmark-share ul{
		margin: 0px;
		padding: 0px;
		text-align: right;
	}

	.landmark-share ul li{
		display: inline-block;
	}

	.landmark-share ul li a{
		color: #454545;
	}

	.landmark-share ul li a i{
		font-size: 20px;
	}

	.landmark-share .add-mile{
		color: #aaa;
		font-size: 14px;
		padding: 0px;
		margin: 0px;
		line-height: 24px;
	}

	.star-rating{
		color: #999;
		line-height: 20px;
		font-size:12px;
	}

	.star-rating span{
		background-color: #f6992c;
		border-radius: 4px;
		padding: 2px 4px;
		color: #fff;
		font-size: 12px;
	}

	.star-rating i{
		top: 4px;
		position: relative;
		color:#f69522;
	}

	.carousel-item .tags ul li a{

		border:1px solid #12AD2C;
		border-radius: 3px;
		font-size: 12px;
		padding: 3px 5px;
		color: #12AD2C;
		text-decoration : none;
	}

	.carousel-item .tags ul li a:hover{

		color : #fff;
		background:#12AD2C;
	}

	.carousel-item .tags{
		border-top: 2px solid rgba(123,123,123,0.56);
		padding: 5px 5px 5px 10px;
		float: left;
		width: 100%;
	}

	.carousel-item .tags ul{
		padding: 0px;
		margin: 0px;
		min-height: 40px;
	}

	.carousel-item .tags ul li{
		display: inline-block;
	}

	.share-this{
		display: none;
		float: left;
		width: 100%;
		overflow: hidden;
	}

	.share-this ul{
		text-align: left;
	}

	.share-this ul li{
		display: inline-block;
		margin-right: 20px;
	}

	.close-share{
		float: right;
		cursor: pointer;
	}

	.spots-meta{
		float: left;
		width: 100%;
	}

	.share-signal,
	.save-signal{
		position: absolute;
		background-color: #fff;
		padding: 10px;
		z-index: 1;
		bottom: 4%;
		width: 300px;
		color: #12AD2C;
		display: none;
	}

	.unsavedeal{
		display: none;
		color: #12AD2C !important;
	}

	.share-signal a{
		color: #12AD2C;
	}

	@media (max-width: 991px) {
		.share-signal{
			bottom: -12%;
		}
	}

	.share-signal ul{
		margin: 0px;
	}

	.share-signal li{
		display: inline-block;
		margin-right: 5px;
		font-size: 18px;
	}

	.save-spot i,
	.save-spot i:hover,
	.save-spot i:focus{
		text-decoration: none;
		border-bottom: 0px;
		outline: none !important
	}

	.unsave-spot i{
		color: #F5911B;
	}

	.saved-notify{
		background-color: #ffffff;
		float: left;
		padding: 4px 15px;
		position: absolute;
		z-index: 1;
		color: #f3901b;
		height: 47px;
		top: -10px;
		line-height: 38px;
		width: 55%;
	}

	.unsaved-notify{
		background-color: #ffffff;
		float: left;
		padding: 4px 15px;
		position: absolute;
		z-index: 1;
		color: #12AD2C;
		height: 47px;
		top: -10px;
		line-height: 38px;
		width: 55%;
	}

	/*Spotlights Business Ends*/

	/*Spotlights Deals*/
	.coupon-prices{
		background-color: #61428c;
		color:#ffffff;
		top: 15px;
		position: relative;
		padding: 10px;
		border-top-left-radius: 5px;
		border-bottom-left-radius: 5px;
	}

	.coupon-prices .reglr{
		text-decoration: line-through;
		font-size: 13px;
	}

	.coupon-prices .sales{
		font-size: 18px;
		font-weight: 600;
	}

	.coupon-prices p{
		padding: 0px;
		margin: 0px;
	}

	.seller{
		color: #aaa;
		font-size: 11px;
	}

	.seller a{
		color: #61428c !important;
	}

	.spots-counter{
		color: #fff;
		text-align: center;
		position: absolute;
		bottom: 6%;
		margin: 0 auto;
		float: left;
		width: 100%;
	}

	.spots-counter i{
		top: 3px;
		position: relative;
	}

	/*Spotlights Deals Ends*/

	/*Spotlights Events*/
	.spots-type{
		position: absolute;
		color: #ffffff;
		background-color: #12AD2C;
		padding: 5px 10px;
		border-radius: 5px;
		top: 5%;
		right: 5%;
		font-size: 12px;
	}

	.evt-share-save{
		padding: 8px 0px;
	}

	.evt-share-save a{
		color: #fff;
	}

	.evt-share-save i{
		font-size: 18px;
		position: relative;
		top: 3px;
	}

	.evt-share-save li{
		display: inline-block;
		margin-right: 15px;
	}

	.evt-share-save li:last-child{
		margin-right: 0px;
	}

	.spots-head .time{
		background-color: #12AD2C;
		color: #ffffff;
		text-align: center;
		position: relative;
		top: -15px;
		border-radius: 5px;
		box-shadow: 0 2px 42px -7px rgba(0,0,0,0.4);
	}

	.spots-head .time ul{
		padding: 0px;
		margin: 0px;
	}

	.spots-head .time ul li{
		padding: 6px 0px;
		font-size: 12px;
	}

	.spots-head .time ul li:first-child{
		border-bottom: 2px solid #fff;
	}

	.spots-head .time i{
		font-size: 14px !important;
		position: relative;
		top: 2px;
	}

	.evt-all-details{
		background-color: #fff;
		position: relative;
		float: left;
		width: 100%;
		padding: 15px;
		border-radius: 10px;
		position: relative;
		top: -140px;
		margin-bottom: -65px;
		-webkit-box-shadow: 0 25px 100px 5px rgba(0, 0, 0, 0.20);
		box-shadow: 0 25px 100px 5px rgba(0, 0, 0, 0.20);
	}

	.evt-all-details .title h4{
		text-align: center;
		font-weight: 700;
		border-bottom: 1px solid #ccc;
		padding-bottom: 10px;
	}

	.evt-all-details .date-time-loc{
		text-align: center;
		margin-bottom: 10px;
	}

	.evt-all-details .date-time-loc li{
		padding: 4px 0px;
	}

	.evt-all-details .date-time-loc i,
	.evt-all-details .reg i{
		font-size: 15px;
		position: relative;
		top: 3px;
	}

	.evt-all-details .time-start-end{
		float: left;
		width: 100%;
		background-color: #12AD2C;
		text-align: center;
		padding: 10px 0px;
		border-radius: 4px;
	}

	.evt-all-details .time-start-end li{
		display: inline-block;
		margin-right: 30px;
		font-size: 18px;
		color: #fff;
	}

	.evt-all-details .reg{
		margin-top: 20px;
		float: left;
		width: 100%;
	}

	.evt-all-details .reg h4{
		margin: 0px;
		border:2px dashed #12AD2C;
		padding: 5px;
		float: left;
		border-radius: 5px;
	}

	.evt-all-details .reg .btn{
		text-align: right;
		float: right;
		
	}

	.evt-all-details .time-start-end p{
		margin: 0px;
		font-size: 13px;
	}

	.evt-all-details .time-start-end li:last-child{
		margin-right: 0px;
	}

	/*Spotlights Events Ends*/

	/*Reviews*/

	.reviews-carousel{
		margin-top: 80px;
		float: left;
		position: relative;
		width: 100%;
	}

	.single-review{
		float: left;
		width: 100%;
		padding: 20px;
		border-radius: 10px;
		box-shadow: 0 2px 30px -1px rgba(0,0,0,0.1);
	}

	@media (max-width: 992px) {
		.single-review{
			margin-bottom: 50px;
		}
	}

	.single-review .img-thumb{
		margin-bottom: -20px;
		top: -50px;
		box-shadow: 0 2px 42px -7px rgba(0,0,0,0.4);
	}

	.single-review .title h5{
		font-size: 18px;
	}

	.single-review .title h5,
	.single-review .title p{
		margin: 0px;
		padding: 0px;
	}

	.review-footer{
		border-top: 1px solid #90909061;
		float: left;
		width: 100%;
		padding-top: 15px;
		margin-top: 10px;
	}

	.review-footer p{
		text-align: left;
		margin-top: 10px;
	}

	.review-footer p a{
		color: #12AD2C;
	}
	/*Reviews Ends*/

	/*Articles*/
	.articles-carousel{
		float: left;
		width: 100%;
		position: relative;
		margin-top: 40px;
	}

	.single-article{
		float: left;
		width: 100%;
		position: relative;
		overflow: hidden;
		background-color: #ffffff;
		border-radius: 10px;
		box-shadow: 0 2px 30px -1px rgba(0,0,0,0.1);
		margin-bottom: 50px;
	}

	.single-article img{
		border-top-right-radius: 10px;
		border-top-left-radius: 10px;
	}

	.article-overlay{
		position: relative;
		overflow: hidden;
	}

	.article-meta{
		position: absolute;
		bottom: 4%;
		padding: 10px;
	}

	.article-link{
		background-color: #ffffff;
		padding: 10px 20px;
	}

	.article-link i{
		float: right;
		right: 0;
	}

	.article-meta h4{
		color: #ffffff;
	}

	@media (max-width: 991px) {
		.article-meta h4{
			font-size: 16px;
		}
	}

	.article-meta p{
		color: #ffffff;
	}

	.article-meta i{
		font-size: 14px !important;
		position: relative;
		top: 2px;
	}

	.post-cat{
		color: #ffffff;
		background-color: #12AD2C;
		padding: 4px 10px;
		border-radius: 5px;
		z-index: 1;
		position: absolute;
		top: 5%;
		right: 5%;
		font-size: 12px;
	}
	/*Articles End*/

	/*Mobile App*/
	.mobile-app{
		position: relative;
		overflow: hidden;
	}

	.mobile-app .col-md-7{
		padding: 50px;
	}

	.mobile-app h1,
	.mobile-app h4{
		color: #fff;
		font-weight: 400;
	}

	.mobile-app .btn{
		margin-top: 40px;
		margin-bottom: 25px;
		padding: 12px 20px;
		font-size: 16px;
		border:0px;
	}

	.mobile-app .btn i{
		font-size: 16px !important;
		position: relative;
	}

	.mobile-app img{
		margin: 0 auto;
		position: relative;
		top: 136px;
		margin-bottom: -100px;
	}
	/*Mobile App Ends*/

	/*Contact Form*/
	.contact-btn .btn{
		transform: rotate(90deg);
		position: fixed;
		left: -3.5%;
		float: left;
		background-color: #61428c;
		color: #ffffff;
		padding: 8px 15px;
		border:0px;
		top: 60%;
		border-radius: 0px;
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
		z-index: 1;
	}

	.contact-btn .btn i{
		font-size: 20px;
		top: 4px;
		position: relative;
	}

	@media (max-width: 991px) {
		.mobile-app img{
			margin: 0 auto;
			position: relative;
			top: -20px;
			margin-bottom: -350px;
		}
	}

	@media (max-width: 768px) {
		.mobile-app img{
			margin: 0 auto;
			position: relative;
			top: 0px;
			margin-bottom: -300px;
		}

		.mobile-app h1{
			font-size: 28px;
		}

		.mobile-app h4{
			font-size: 15px;
		}
	}

	@media (max-width: 560px) {
		.mobile-app img{
			margin: 0 auto;
			position: relative;
			top: 0px;
			margin-bottom: -200px;
		}
	}

	@media (max-width: 375px) {
		.mobile-app .btn{
			margin-top: 20px;
			margin-bottom: 0px;
		}
	}

	@media (max-width: 1024px) {
		.contact-btn .btn{
			left: -4.5%;
		}
	}

	@media (max-width: 860px) { .contact-btn .btn{ left: -5.5%; } }

	@media (max-width: 750px) { .contact-btn .btn{ left: -6.5%; } }

	@media (max-width: 640px) { .contact-btn .btn{ left: -7.5%; } }

	@media (max-width: 560px) { .contact-btn .btn{ left: -8.5%; } }
	/*Contact Form Ends*/

	/*Newsletter Footer*/
	.newsletter,
	.next-to-footer{
		float: left;
		width: 100%;
		position: relative;
		padding: 40px 0px;
		background-color: #fff;
		margin-bottom: 410px;
		box-shadow: 0 18px 56px -7px rgba(0,0,0,0.1);
		text-align: right;
	}

	.feedbacks{
		float: left;
		width: 100%;
		position: relative;
		padding: 40px 0px;
		background-color: #fff;
		margin-bottom: 410px;
		box-shadow: 0 18px 56px -7px rgba(0,0,0,0.1);
	}

	.feedbacks img{
		width: 6em;
		margin: 0 auto;
	}

	.newsletter h3{
		margin: 0px;
		line-height: 50px;
	}

	@media (min-width: 991px) {
		.newsletter .form-control{
			width: 220px !important;
			height: 50px;
			-webkit-box-shadow: 0px;
			box-shadow: 0px;
			outline: none;
		}

		.newsletter .btn{
			padding: 15px 20px;
			background-color: #12AD2C;
			color: #fff;
			border:0px;
		}
	}

	@media (max-width: 991px) {
		.newsletter,
		.newsletter h3{
			text-align: center !important;
		}
	}
	/*Newsletter Footer Ends*/

	/*Footer*/
	.footer-reveal{
		width: 100%;
		position: fixed;
		bottom: 0;
		z-index: -1;
		height: 400px;
		background:url(../images/footer-background.jpg) no-repeat;
		background-size: cover;
		padding-top: 50px;
	}

	.footer-reveal ul{
		margin: 0px;
		padding: 0px;
		margin-bottom: 30px;
		float: left;
		width: 100%;
	}

	.footer-reveal ul li a{
		padding: 6px 0px;
		float: left;
		width: 100%;
		position: relative;
		color: #454545;
	}

	.footer-reveal ul li:last-child a{
		border-bottom: 0px;
	}

	.footer-reveal .social-icons li{
		display: inline-block;
	}

	.footer-reveal h4{
		font-weight: 700px !important;
		font-size: 16px;
	}

	.footer-reveal a{
		font-size: 13px;
	}

	.logo-footer img{
		width: 8em;
		margin-bottom: 30px;
	}

	.copyrights{
		text-align: center;
		margin-top: 60px;
		float: left;
		width: 100%;
		border-top: 1px solid #e1e1e1;
		padding: 30px 0px;
		background: #61428c;
	}

	.copyrights p{
		color: #ffffff;
		padding: 0px;
		margin: 0px;
	}

	@media (max-width: 767px) {
		.footer-reveal{
			position: relative;
		}

		.newsletter, .feedbacks{
			margin-bottom: 40px;
		}
	}
	/*Footer Ends*/




	/*CATEGORIES*/

	/*Categories Page*/
	.page-searches{
		position: relative;
		float: left;
		width: 100%;
		background-color: #61428c;
		padding: 25px 0px;
		text-align: center;
	}

	.page-filers{
		background: #61428c66;
		float: left;
		width: 100%;
	}

	.page-filers p{
		margin: 0px;
		padding: 10px 0px;
		color:#fff; 
	}

	@media (min-width: 992px) {
		.page-searches .form-control{
			height: 45px;
			border:0px;
			width: 450px !important;
		}

		.page-searches .btn{
			border: 2px solid #12AD2C;
			color: #ffffff;
			padding: 10px 30px;
			background-color: #12AD2C;
			-webkit-transition: all .3s ease;
			-o-transition: all .3s ease;
			transition: all .3s ease;
		}

		.page-searches .btn:hover{
			color: #12AD2C !important;
			background-color: #fff !important;
			border: 2px solid #fff;
		}
	}

	@media (max-width: 767px) {
		.page-searches{
			padding: 10px 0px;
		}

		.page-headlines h2{
			font-size: 16px;
		}

		.navbar.solid{
			padding: 10px 0px 2px 0px;
		}

		.page-searches .form-group{
			width: 36% !important;
			float: left;
			margin-bottom: 0px;
		}

		.page-searches .form-control{
			font-size: 12px;
		}
	}

	.page-searches i{
		position: relative;
		top: 4px;
	}

	.page-headlines h2,
	.page-headlines select{
		margin: 0px;
		margin-bottom: 30px;
	}

	/*Featured Cards*/
	.featured-cards{
		position: relative;
		overflow: hidden;
		float: left;
		width: 100%;
		background-color: #ffffff;
		border-radius: 5px;
		margin-bottom: 40px;
		box-shadow: 0 2px 42px -15px rgba(0,0,0,0.4);
		border:3px solid #12AD2C;
	}

	.featured-cards .feat-img-side{
		height: 250px;
	}

	@media (max-width: 991px) {
		.featured-cards .feat-img{
			height: 250px !important;
		}

		.evt-time{
			top: 0px !important;
		}

		.featured-cards .spots-counter{
			margin-bottom: 15px;
		}
	}

	.feat-img-side .profile-img{
		height: 100px;
		width: 100px;
		border-radius: 50em;
		z-index: 1;
		position: absolute;
		bottom: 10%;
		left: 12%;
		overflow: hidden;
	}

	.featured-cards .feats{
		position: absolute;
		left: -12%;
		-webkit-transform: rotate(90deg);
		-ms-transform: rotate(90deg);
		-o-transform: rotate(90deg);
		transform: rotate(90deg);
		top: 12%;
		background-color: #12AD2C;
		color: #fff;
		padding: 3px 10px;
		border-radius: 5px;
	}

	.featured-cards .feat-img{
		height: 100vh;
		float: left;
		width: 100%;
	}

	.featured-cards .card-details{
		padding: 10px 0px;
	}

	.featured-cards .card-details h5 a{
		color: #454545;
		font-size: 18px;
	}

	.featured-cards .card-details .add-mile{
		color:#909090;
		font-size: 12px;
	}

	.featured-cards .card-details h5 i{
		color:#12AD2C;
		position: relative;
		top: 3px;
	}

	.featured-cards .share-save{
		text-align: right;
	}

	.card-details-cover{
		padding-right: 20px;
	}

	@media (max-width: 991px) {
		.card-details-cover{
			padding: 20px;
		}

		.card-details-cover h5{
			margin: 0px;
			margin-bottom: 10px;
		}
	}

	@media (max-width: 768px) {
		.card-details-cover{
			padding: 20px;
		}

		.card-details-cover h5{
			margin: 0px;
			margin-bottom: 10px;
		}
	}

	.card-desc{
		padding: 15px 0px 0px 0px;
	}

	.featured-cards .tags ul{
		margin: 0px;
		padding: 0px;
		float: left;
		text-align: left;
	}

	.featured-cards .tags li{
		display: inline-block;
		float: left;
		margin-right: 10px;
	}

	.featured-cards .tags li a{
		border:2px solid #12AD2C;
		border-radius: 3px;
		font-size: 12px;
		padding: 3px 5px;
		color: #12AD2C;
	}

	.featured-cards .share-save{
		padding:0px;
		margin: 0px;
		float: right;
		position: relative;	
	}

	.featured-cards .share-save li{
		display: inline-block;
	}

	.featured-cards .share-save li a{
		color:#454545;
	}

	.featured-cards .card-meta{
		border-top: 1px solid #e1e1e1;
		float: left;
		width: 100%;
		padding: 15px 0px
	}

	.deal-share{
		position: absolute !important;
		float: right;
		right: 8%;
		top: 8%;
	}

	.featured-cards.deals .feats{
		top: 10% !important;
	}

	.featured-cards.event .feats{
		top: 10% !important;
	}

	.featured-cards.event .coupon-prices{
		left: 25px;
	}

	.featured-cards .sales-regular-price{
		text-align: center;
		padding: 4px 5px;
		background-color: #61428c;
		border-radius: 5px;
		color: #fff;
		float: left;
		width: 100%;
	}

	.featured-cards .sales-regular-price li{
		display: inline-block;
		padding-right: 5px;
		padding-left: 10px;
		text-decoration: line-through;
	}

	.featured-cards .sales-regular-price li:last-child {
		border-left: 1px solid #fff;
		padding-right: 0px;
		text-decoration: none;
		font-size: 18px;
	}

	.featured-cards .spots-counter{
		color: #454545;
		bottom: 0%;
		position: relative;
		font-size: 15px;
	}

	.featured-cards.event .evt-fee{
		position: absolute;
		top: 5%;
		left: 10%;
		z-index: 1;
		padding: 5px 10px;
		background-color: #12AD2C;
		color: #fff;
		border-radius: 5px;
	}

	.featured-cards.event .evt-time{
		background-color: #12AD2C;
		color: #fff;
		text-align: center;
		border-radius: 5px;
	}	

	.featured-cards.event .evt-time li{
		border-bottom: 1px solid #fff;
		padding: 3px 0px;
	}

	.featured-cards.event .evt-time i{
		position: relative;
		top: 3px;
		font-size: 16px !important;
	}

	.featured-cards.event .card-meta i{
		font-size: 16px;
		position: relative;
		top: 3px;
	}

	/*Sidebar Widgets*/
	.sidebar-widgets{
		background-color: #ffffff;
		/*border-radius: 5px;*/
		box-shadow: 0 2px 42px -15px rgba(0,0,0,0.4);
		text-align: left;
		/*border-left: 1px solid #e1e1e1;*/
		margin-bottom: 30px;
		border-radius: 5px;
		float: left;
		width: 100%;
		overflow: hidden;
	}

	.sidebar-widgets ul{
		padding: 0px;
		margin: 0px;
	}

	.sidebar-widgets .widget-menu ul li{
		padding: 5px 0px;
	}

	.sidebar-widgets .widget-menu ul li a{
		color: #454545;
	}

	.sidebar-widgets .widget-menu{
		padding: 20px;
	}

	.sidebar-widgets h5{
		/*border-bottom: 1px solid #12ad2c;*/
		margin-bottom: 15px;
		padding: 15px 25px 15px 25px;
		font-weight: 600;
		background: #61428c;
		color: #fff;
		margin: 0px;
	}

	.widget-title{
		float: left;
		width: 100%;
		position: relative;
		overflow: hidden;
		cursor: pointer;
	}

	.widget-title h5{
		margin: 0px;
	}

	.widget-title i{
		top: -5px;
		position: relative;
	}

	.widget-title span{
		float: right;
		right: 0;
	}

	.widget-menu{
		float: left;
		width: 100%;
		position: relative;
		overflow: hidden;
	}

	.business-head-details i{
		color: #12ad2c;
	}

	@media (max-width: 991px) {
		.business-head-details{
			text-align: center;
			float: left;
			width: 100%;
		}

		.business-head-details .status{
			margin: 0 auto;
			float: none !important;
			text-align: center;
		}	

		.business-head-details .star-rating{
			margin-bottom: 15px;
		}

		.business-hero.evts{
			height: 500px;
		}

		.business-hero.evts .events-meta{
			top: 330px;
		}

		.business-hero .meta{
			bottom: 30% !important;
			text-align: center;
			margin: 0 auto;
			width: 100%;
			right: 0 !important;
		}

		.sidebar-widget.request-quote{
			margin: 100px 0 100px 0 !important;
		}

		.inner-page{
			padding: 0px !important;
		}

		.sidebar-suggested .recent-view .card-details{
			padding-left: 15px !important;
			float: left;
		}
		
		.reviewer-details{
			float: left;
			width: 100%;
			position: relative;
		}
	}

	@media (max-width: 425px) {
		.business-hero.evts{
			height: 600px;
		}

		.business-hero.evts .events-meta{
			top: 420px;
		}
	}
	
	@media (min-width: 768px) {
		.tools-btn{
			display: none;
		}
	}

	@media (max-width: 767px) {
		.business-hero .meta{
			display: none;
		}

		.tools-btn{
			background: #61428c;
			color: #fff;
			width: 40px;
			height: 40px;
			padding: 5px;
			line-height: 45px;
			text-align: center;
			border-radius: 50em;
			float: right;
			right: 0;
			position: absolute;
			top: -30px;
		}
	}

	@media (max-width: 480px) {
		.menu-sticky{
			display: none;
		}

		.business-hero{
			/*background-size: contain !important;
			height: 200px !important;*/
		}

		.spotlight-page-header .feat-img{
			height: 100px !important;
			width: 100px !important;
			z-index: 1;
		}

		.business-hero li a{
			padding: 0px 8px !important;
		}
	}

	@media (max-width: 400px) {
		.business-hero li{
			display: block !important;
			padding: 5px 0px !important;
		}

		.business-hero li a{
			border-bottom: 1px solid #fff;
			border-radius: 0px !important;
		}

		.business-hero li:last-child a{
			border-bottom: 0px;
		}
	}

	.sidebar-widgets .widget-menu span{
		color: #aaa;
		font-size: 12px;
	}

	.inner-page{
		padding: 0px 30px;
		border-radius: 5px;
	}

	.sidebar-widget.request-quote{
		padding: 30px;
		border-radius: 5px;
		background: linear-gradient(270deg, #12ad2c, #f5911b);
		background-size: 600% 600%;
		margin-bottom: 40px;
		-webkit-animation: AnimationName 10s ease infinite;
		-moz-animation: AnimationName 10s ease infinite;
		animation: AnimationName 10s ease infinite;
		float: left;
		width: 100%;
	}

	@-webkit-keyframes AnimationName {
		0%{background-position:0% 50%}
		50%{background-position:100% 50%}
		100%{background-position:0% 50%}
	}
	@-moz-keyframes AnimationName {
		0%{background-position:0% 50%}
		50%{background-position:100% 50%}
		100%{background-position:0% 50%}
	}
	@keyframes AnimationName { 
		0%{background-position:0% 50%}
		50%{background-position:100% 50%}
		100%{background-position:0% 50%}
	}

	/*Suggested Sidebar*/
	.sidebar-suggested ul li{
		border-bottom: 1px solid #ccc;
		float: left;
		width: 100%;
	}

	.sidebar-suggested ul li:last-child{
		border-bottom: 0px;
	}

	.sidebar-suggested .recent-view{
		margin-top: 20px;
		margin-bottom: 20px;
		border-right: 0px;
	}

	.recent-view .reglr{
		text-decoration: line-through;
	}

	.recent-view .sales{
		font-weight: 700;
		color: #12AD2C;
	}

	.recent-view .badge{
		background-color: #12AD2C;
		margin-bottom: 5px;
	}

	.recent-view p i{
		font-size: 14px;
		position: relative;
		top: 3px;
	}

	.sidebar-suggested .recent-view .feat-img{
		width: 70px;
		height: 70px;
	}

	.sidebar-suggested .recent-view h5{
		margin: 0px;
		background: transparent;
		margin-bottom: 5px;
		padding: 0px;
		padding-bottom: 10px;
		font-size: 16px;
	}

	.sidebar-suggested .recent-view a{
		color: #454545;
	}

	.sidebar-suggested .recent-view a i{
		color: #12AD2C;
	}

	.sidebar-suggested .recent-view .card-details{
		padding-left: 10px;
	}

	.sidebar-widget.inner-page .panel{
		margin: 0px;
	}

	#recent .slick-prev,
	#recent .slick-next,
	#recent .slick-dots{
		display: none;
		visibility: hidden;
	}
	/*Sidebar Widgets Ends*/

	/*Categories Page Ends*/

	/*Recently Viewed*/
	.recent-view{
		float: left;
		width: 100%;
		position: relative;
		margin-top: 40px;
		border-right: 1px solid #ccc;
	}

	.recent-view h5{
		font-size: 18px;
		color: #454545;
	}

	.recent-view .feat-img{
		float: left;
		border-radius: 50em;
		width: 120px;
		height: 120px;
	}

	.recent-view .add-mile{
		margin-top: 10px;
		font-size: 12px;
		color: #808080;
	}

	.recent-view a{
		color: #454545;
	}

	.recent-view i{
		color: #f69522;
	}

	.comment-box{
		float: left;
		width: 100%;
		position: relative;
		margin-bottom: 50px;
		background: #f2f2f2;
		padding: 20px;
		border-radius: 5px;
		display: none;
	}

	.btn-review,
	.btn-review:focus{
		margin-bottom: 30px;
		margin-top: 30px;
		outline: none;
	}

	.btn-review i{
		font-size: 18px;
		position: relative;
		top: 3px;
	}

	.comment-box h4{
		margin-bottom: 20px;
	}
	/*Recently Viewed Ends*/

	/*Search Results*/
	.search-filter{
		float: left;
		width: 100%;
		position: relative;
		background-color: #fff;
		border-radius: 5px;
		/*box-shadow: 0 2px 42px -15px rgba(0,0,0,0.4);*/
		margin-bottom: 40px;
	}

	.search-filter .tab-pane{
		padding: 10px 30px 30px;
		float: left;
		width: 100%;
	}

	.search-filter-cards i{
		font-size: 22px;
		position: relative;
		top: 3px;
	}

	.search-filter-cards h4{
		margin: 0px;
	}

	.search-filter-cards a{
		float: left;
		width: 100%;
		position: relative;
		border-radius: 5px;
		margin-bottom: 15px;
		color: #fff;
		padding: 10px 20px;
		border: 2px solid #12AD2C;
		color: #12AD2C;
	}

	.search-filter-cards.active a{
		background: linear-gradient(to right, #12AD2C , #F5911B);
		color: #fff;
	}

	.main-search-results .nav-tabs.nav-justified>li.active a{
		background-color: #12AD2C;
		color: #fff;
	}

	.main-search-results ul{
		text-align: left;
		margin-bottom: 30px;
	}
	/*Search Results Ends*/

	/*Business Page*/
	.business-hero{
		background: linear-gradient(to right, #12AD2C , #F5911B);
		height: 400px;
		position: relative;
		float: left;
		width: 100%;
	}

	.deal-view{
		padding: 50px 0px;
		position: relative;
		float: left;
		width: 100%;
		background-color: #fff;
	}

	.deal-slider img{
		border-radius: 15px;
	}

	.deal-slider .slick-prev,
	.deal-slider .slick-prev:hover,
	.deal-slider .slick-prev:focus{
		background-color: #12ad2c !important;
		border-radius: 50px;
		height: 50px;
		width: 50px;
		left: 30px;
		z-index: 1;
		-webkit-box-shadow: 0 2px 30px -1px rgba(0,0,0,0.1);
		box-shadow: 0 2px 30px -1px rgba(0,0,0,0.1);
	}

	.deal-slider .slick-next,
	.deal-slider .slick-next:hover,
	.deal-slider .slick-next:focus{
		border-radius: 50px;
		background-color: #12ad2c !important;
		height: 50px;
		width: 50px;
		right: 30px;
		-webkit-box-shadow: 0 2px 30px -1px rgba(0,0,0,0.1);
		box-shadow: 0 2px 30px -1px rgba(0,0,0,0.1);
	}

	.business-hero .meta{
		position: absolute;
		bottom: 5%;
		right: 5%;
	}

	.business-hero .meta li{
		display: inline-block;
		margin-left: 10px;
	}

	.business-hero .meta i{
		font-size: 17px;
		position: relative;
		top: 3px;
	}

	.business-hero li a{
		color: #fff;
		padding: 7px 15px;
		border-radius: 5px;
	}

	.spotlight-page-header{
		padding: 10px 0px;
		background-color: #f1f1f1;
		float: left;
		width: 100%;
	}

	.spotlight-page-header .feat-img{
		border-radius: 50em;
		overflow: hidden;
		width: 200px;
		height: 200px;
		margin: 0 auto;
		top: -80px;
		position: relative;	
		margin-bottom: -60px;
	}

	.spotlight-page-header .status{
		background-color: #12AD2C;
		margin-top: 10px;
		position: relative;
		float: left;
		padding: 4px 8px;
		color: #ffffff;
		border-radius: 5px;
	}

	.spotlight-page-header .status.inverse{
		background-color: #F5911B;
	}

	.spotlight-page-header .addy-cat{
		background-color: #fff;
		text-align: center;
		padding: 20px;
		border-radius: 5px;
		top: 30px;
		position: relative;
		margin-bottom: 15px;
		-webkit-box-shadow: 0 2px 30px -1px rgba(0,0,0,0.1);
		box-shadow: 0 2px 30px -1px rgba(0,0,0,0.1);
		float: left;
		width: 100%;
	}

	.spotlight-page-header .addy-cat .badge{
		font-weight: 400;
		border-radius: 3px;
		font-size: 14px;
		background-color: #808080;
	}

	.spotlight-page-header .addy-cat ul{
		padding: 0px;
		margin: 0px;
	}

	.spotlight-page-header .addy-cat ul li{
		border-bottom: 1px solid #f1f1f1;
		padding: 5px 0px;
		text-align: left;
	}

	.spotlight-page-header .addy-cat i{
		font-size: 16px;
		position: relative;
		top: 3px;
	}

	.spotlight-page-header .addy-cat ul li:last-child{
		border:0px;
	}

	.deal-side-detail{
		float: left;
		width: 100%;
		position: relative;
		/*background-color: #2ead2c0d;*/
		box-shadow: 0 2px 42px -2px rgba(0,0,0,0.1);
		/*padding: 30px;*/
		border-radius: 10px;
		overflow: hidden;
	}

	.all-deal-details{
		padding: 10px 20px;
		float: left;
		width: 100%;
		position: relative;
	}

	.view-all-deals{
		float: left;
		width: 100%;
		padding: 10px 0px;
		text-align: center;
	}

	.buy-deal-btn{
		text-align: center;
	}

	.buy-deal-btn i{
		font-size: 16px;
		position: relative;
		top: 3px;
	}

	.deal-side-detail h3{
		margin: 0px;
	}

	.deal-side-detail .location{
		text-align: center;
		margin-bottom: 0px;
	}

	.deal-side-detail .location i{
		font-size: 17px;
		position: relative;
		top: 3px;
	}

	.deal-side-detail .percent{
		position: absolute;
		float: right;
		top: -3%;
		right: -3%;
		background-color: #12AD2C;
		padding: 5px;
		border-radius: 50em;
		height: 55px;
		width: 55px;
		line-height: 40px;
		text-align: center;
		color: #fff;
		border:3px dashed #fff;
		font-size: 20px;
	}

	.deals-header i{
		font-size: 16px;
		position: relative;
		top: 3px;
	}

	.deals-header h3 i{
		color: #12AD2C;
		font-size: 24px;
		animation: jump .3s infinite;
	}

	.trend{
		animation: jump .3s infinite;
	}

	@keyframes jump { 0% { top: 20; } 50% { top: 4px; } 100% { top: 0; } }

	.detail-sec{
		float: left;
		width: 100%;
		position: relative;
		/*border-bottom: 1px solid #eee;*/
		padding: 10px 0px;
	}

	.detail-sec .btn i{
		position: relative;
		top: 3px;
		font-size: 20px;
	}

	.deals-listed li{
		border: 2px dashed #ccc;
		float: left;
		width: 100%;
		padding: 10px 0px;
		border-radius: 5px;
		margin-bottom: 10px;
	}

	.detail-sec #countdown,
	.detail-sec .viewed-today{
		text-align: center;
		float: left;
		width: 100%;
		/*background-color: #F5911B;*/
		padding: 10px;
		border-radius: 5px;
		color: #454545;
		font-size: 16px;
		/*border: 2px solid #ccc*/
	}

	/*.detail-sec .viewed-today{
		padding: 8px;
		border: 2px solid #12ad2c;
		border-radius: 4px;
		}*/

		.time-views{
			background-color: #f1f1f1;
			border-radius: 4px;
			margin-top: 5px;
		}

		.detail-sec h4{
			margin: 0px !important;
		}

		.more-deals-sidebar{
			background-color: #eee;
			border-radius: 10px;
			padding: 20px;
			float: left;
			width: 100%;
		}

		.more-deals-sidebar .recent-view{
			border-right: 0px;
		}

		.more-deals-sidebar ul li{
			border-right: 0px;
			border-bottom: 1px solid #ccc;
			padding-bottom: 5px;
			float: left;
			width: 100%;
		}

		.more-deals-sidebar ul li:last-child{
			border-bottom: 0px;
		}

		/*Sliders*/
		.business-slider{
			height: 400px;
			background: linear-gradient(to right, #12AD2C , #F5911B);
			border-radius: 5px;
		}

		.menu-sticky{
			float: left;
			width: 100%;
			position: relative;
			padding: 15px 0px;
			text-align: center;
			background-color: #ffffff;
			box-shadow: 0 17px 18px -23px rgba(0,0,0,0.5);
			z-index: 1;
			-webkit-transition: all .4s ease;
			-o-transition: all .4s ease;
			transition: all .4s ease;
		}

		.menu-sticky.fixed{
			position: fixed;
			top: 0;
			-webkit-transition: all .4s ease;
			-o-transition: all .4s ease;
			transition: all .4s ease;
		}

		.menu-sticky a{
			color: #12AD2C;
		}

		.menu-sticky ul{
			margin-bottom: 0px;
		}

		.menu-sticky ul li{
			display: inline-block;
			margin-right: 30px;
			border-right: 1px solid #fff;
			padding-right: 30px;
		}

		.menu-sticky ul li:last-child{
			margin-right: 0px;
			border-right: 0px;
			padding-right: 0px;
		}

		#hours-direction ul li{
			border-bottom: 1px solid #ccc;
			padding: 5px 0px;
		}

		#hours-direction ul li:last-child{
			border-bottom: 0px;
		}

		#hours-direction ul li span{
			font-weight: 700;
			float: right;
		}

		#features ul{
			margin-top: 15px;
		}

		#features ul li{
			display: inline-block;
			margin-right: 10px;
		}

		#features ul li a{
			color: #12AD2C;
			border-radius: 5px;
			border:2px solid #12AD2C;
			margin-bottom: 10px;
			float: left;
			padding: 5px 8px;
		}

		#features i{
			font-size: 18px;
			position: relative;
			top: 3px;
		}

		/*Reviews*/

		.review-head{
			padding: 10px 0px 0px 0px;
			border-top: 2px solid #aaaaaa;
			margin-bottom: 30px;
		}

		.rev-box{
			border: 2px solid #e1e1e1;
			float: left;
			width: 100%;
			padding: 25px 0px 15px 0px;
			margin-bottom: 30px;
			border-radius: 5px;
		}

		.rev-box .feat-img{
			float: left;
			height: 80px;
			width: 80px;
			border-radius: 50em;
			margin-right: 15px;
		}

		.rev-contents{
			float: left;
			width: 100%;
			position: relative;
			padding: 0px 0px 0px 20px;
		}

		.reviewer-details{
			border-bottom: 2px solid #e1e1e1;
		}

		.reviewer-details h4{
			/*margin: 0px;*/
		}

		.reviewer-details i{
			font-size: 15px;
			position: relative;
			top: 3px;
			color: #12AD2C;
		}

		/*More Listings*/
		.more-listings{
			float: left;
			width: 100%;
			background-color: #ffffff;
			padding: 30px;
			border-radius: 5px;
		}
		/*Business Page Ends*/


		/*Login*/
		#login{
			float: left;
			width: 100%;
			position: relative;
		}

		.overlay.login{
			background:linear-gradient(to top, #12AD2C , #f5911b75);
			z-index: -1;
		}

		.divide-left{
			width: 100%;
			background-position: center;
			background-size: cover;
			padding: 0px;
			float: left;
			height: 100vh;
		}

		.divide-left .contents{
			padding: 200px 127px 0px 101px;
		}

		.divide-left .contents h1,
		.divide-left .contents h4{
			color: #ffffff;
		}

		.divide-left .social{
			margin-top: 30px;
		}

		.divide-left .social li{
			display: inline-block;
			margin-right: 20px;
		}

		.divide-left .social li a{
			color:#ffffff;
		}

		.divide-left .footer-info{
			position: absolute;
			bottom: 5%;
			float: left;
			width: 100%;
		}

		.divide-left .footer-info ul{
			text-align: center;
		}

		.divide-left .footer-info ul li{
			display: inline-block;
			margin-right: 10px;

		}

		.divide-left .footer-info ul li a{
			color: #ffffff;
			font-size: 12px;
			border: 2px solid #fff;
			padding: 7px 15px;
			border-radius: 5px;
		}

		.divide-right{
			padding-top: 70px;
		}
		/*Login Ends*/

		/*Newsletter Modal*/
		.modal-content{
			overflow: hidden;
		}

		.newsletter-modal .modal-footer,
		.newsletter-modal .modal-header,
		.modal-footer{
			border:0px !important;
		}

		.newsletter-modal .modal-body,
		.newsletter-modal .modal-footer,
		.newsletter-modal .modal-header{
			padding: 0px;
		}

		.newsletter-modal .close{
			position: absolute;
			float: right;
			right: 0;
			padding: 8px;
			z-index: 1;
			opacity: 1;
			font-size: 25px;
			color: #12AD2C;
		}

		.newsletter-modal .newsletter-box{
			padding: 0px 15px 20px 15px;
		}

		/*Newsletter Modal Ends*/

		/*Main Slider*/
		#main-slider{
			position: relative;
			float: left;
			width: 100%;
			overflow: hidden;
			height: 620px;
			background: #fff;
		}

		#main-slider img{
			width: 100%;
			height: auto;
		}

		#main-slider .slick-dots{
			display: block;
			position: absolute;
			width: 100%;
			bottom: 38%;
			z-index: 100;
		}
		/*Main Slider Ends*/

		/*Deals*/
		.spotlight-page-header.deals{
			/*top: -50px;*/
			border-radius: 10px;
			padding: 40px;
			position: relative;
			float: left;
			width: 100%;
		}

		.cart-coupon-btn{
			position: absolute;
			float: right;
			right: 3%;
			top: -15px;
		}

		.spotlight-page-header.deals i{
			font-size: 16px;
			position: relative;
			top: 3px;
		}

		.spotlight-page-header.deals .meta{
			text-align: right;

		}

		.spotlight-page-header.deals .meta li{
			display: inline-block;
			margin-right: 10px;
		}

		.spotlight-page-header.deals .meta li a{
			color: #12AD2C;
			border-radius: 5px;
			padding: 7px 15px;
			border:2px solid #12AD2C;
		}

		.spotlight-page-header.deals h3{
			margin: 0px;
			padding: 0px;
		}

		.spotlight-deals-details{
			margin-top: 40px;
		}

		/*Timing / Category*/
		.timing-cat{
			border-bottom: 1px solid #e1e1e1;
			float: left;
			width: 100%;
			margin-top: 20px;
		}

		.timing-cat ul{
			text-align: right;
		}

		.timing-cat ul li{
			display: inline-block;
			margin-left: 30px;
		}

		.deal-tools{
			float: left;
			width: 100%;
			background-color: #12AD2C;
			text-align: center;
			padding: 10px 0px;
		}

		.deal-tools li:last-child a{
			border-right: 0px;
		}

		.deal-tools i{
			font-size: 16px;
			position: relative;
			top: 3px;
		}

		.deal-tools a{
			color: #fff;
			border-right: 2px solid #ffffff85;
			padding-right: 10px;
		}

		.deal-tools li{
			display: inline-block;
			margin-right: 10px;
		}

		.deal-tools li:last-child{
			margin-right: 0px;
		}
		/*Deals Ends*/

		/*My Account*/
		.profile-wrap{
			background: #f9f9f9;
		}

		.profile-cover{
			background:linear-gradient(to top, #12AD2C , #f5911b75);
			height: 350px;
			position: relative;
			float: left;
			width: 100%;
		}

		.img-profile{
			height: 150px;
			width: 150px;
			border-radius: 50em;
			position: absolute;
			overflow: hidden;
			top:-80px;
		}

		/*Profile Type 2*/
		.profile-detail-side{
			text-align: center;
			border-radius: 5px;
			margin-top: 40px;
			/*padding: 40px;*/
			background-color: #ffffff;
			float: left;
			width: 100%;
			margin-bottom: 40px;
			overflow: hidden;
		}

		.profile-detail-side .img-thumb{
			height: 100px;
			width: 100px;
			border-radius: 50em;
			overflow: hidden;
			margin: 0 auto;
			z-index: 1;
			position: relative;
		}

		.account-overview{
			margin-top: 40px;
			margin-bottom: 60px;
		}

		.account-overview .account-stats{
			padding:15px;
			border-radius: 5px;
			background-color: #fff;
			box-shadow: 0 2px 42px -2px rgba(0,0,0,0.1);
			margin-bottom: 30px;
			overflow: hidden;
			/*border: 2px solid #12ad2c;*/
			-webkit-transition: all .3s ease;
			-o-transition: all .3s ease;
			transition: all .3s ease;
		}

		.account-overview a{
			color: #12AD2C;
		}

		.account-stats .stat-count{
			background-color: #fff;
			border:2px solid #12AD2C;
			text-align: center;
			border-radius: 5px;
			padding: 5px;
			left: 20px;
			position: relative;
		}

		.account-stats .see-more{
			position: absolute;
			float: right;
			right: 15%;
			bottom: 30%;
			-webkit-transition: all .4s ease;
			-o-transition: all .4s ease;
			transition: all .4s ease;
		}

		.account-stats:hover .see-more{
			-webkit-transform: translate(20px, 0);
			-ms-transform: translate(20px, 0);
			-o-transform: translate(20px, 0);
			transform: translate(20px, 0);
		}

		.profile-wrapper{
			float: left;
			width: 100%;
			padding: 25px;
		}

		.account-stats h4{
			font-size: 16px;
		}

		.account-stats .stat-count h4{
			color: #12AD2C;
			padding: 0px;
			margin: 0px;
			padding: 10px;
			text-align: left;
		}

		.user-account-menu ul{
			margin-top: 30px;
			/*background-color: #12AD2C;*/
			padding: 10px;
			border-radius: 5px;
			text-align: left;
		}

		.user-account-menu ul li a{
			padding: 15px 10px;
			/*border-bottom: 1px solid #12AD2C;*/
			float: left;
			width: 100%;
			text-decoration: none;
			-webkit-transition: all .3s ease;
			-o-transition: all .3s ease;
			transition: all .3s ease;
		}

		.user-account-menu .active{
			background: #12AD2C;
			color: #fff;
			border-radius: 5px;
		}

		.account-overview .img-thumb{
			height: 100px;
			width: 100px;
			border-radius: 50em;
			position: relative;
			overflow: hidden;
		}

		.account-overview .account-head{
			float: left;
			width: 100%;
			position: relative;
			margin-bottom: 30px;
			border-bottom: 2px solid #f1f1f1;
			padding: 40px 20px;
			-webkit-box-shadow: 0 25px 100px 5px rgba(0, 0, 0, 0.05);
			box-shadow: 0 25px 100px 5px rgba(0, 0, 0, 0.05);
			border-radius: 10px;
			background-color: #fff;
		}

		/*Dropdown Actions*/
		.user-account-menu .has-dropdown ul{
			display: none;
		}

		.user-account-menu .has-dropdown .icon{
			float: right;
			right: 0;
		}

		.user-account-menu .has-dropdown.active{
			background: #12AD2C;
			color: #fff;
			float: left;
			width: 100%
		}

		.user-account-menu a:hover{
			background-color: #12AD2C;
			border-radius: 5px;
			border-bottom: 0px;
			color: #fff;
		}

		.user-account-menu ul li:last-child a{
			border-bottom: 0px;
		}

		.profile-cover-photo{
			height: 150px;
			background-color: red;
			position: relative;
			overflow: hidden;
			margin-bottom: -100px;
			z-index: 0;
		}

		.user-account-menu ul li i{
			position: relative;
			top: 3px;
			font-size: 16px;
		}

		.user-account-menu ul li a{
			color: #12AD2C;
		}

		.account-dashboard-overview{
			margin-top: 50px;
			float: left;
			width: 100%;
			background-color: #fff;
			padding: 20px;
			margin-bottom: 100px;
		}

		.account-dashboard-overview h3{
			margin: 0px;
			border-bottom: 1px solid #f1f1f1;
			padding-bottom: 10px;
		}

		.toggle-menu{
			position: absolute;
			float: right;
			right: 5%;
		}
		/*My Account Ends*/


		/*Admin Dashboard*/
		.global-dashboard{
			background-color: #f1f1f1;
		}

		.global-dashboard .navigation{
			float: left;
			width: 100%;
			position: relative;
			background-color: #fff;
			-webkit-box-shadow: 0 2px 42px -2px rgba(0,0,0,0.1);
			box-shadow: 0 2px 42px -2px rgba(0,0,0,0.1);
			padding: 40px 0px;
			height: 100%;
			margin-top: 40px;
			margin-bottom: 40px;
			border-radius: 5px;
		}

		.global-dashboard .img-thumb{
			height: 100px;
			width: 100px;
			border-radius: 50em;
			margin: 0 auto;
			overflow: hidden;
			position: relative;
		}

		.global-dashboard .profile-details{
			text-align: center;
		}

		.global-dashboard .navigation ul ul{
			/*display: none;*/
		}

		@media (max-width: 991px) {
			.global-dashboard .menu{
				display: none;
			}
		}

		@media (min-width: 992px) {
			.toggle-menu button{
				display: none;
			}
		}

		.global-dashboard .menu{
			margin-top: 30px;
			float: left;
			width: 100%;
		}

		.global-dashboard .menu ul{
			margin: 0px;
			padding: 0px;
		}

		.global-dashboard .menu ul li a{
			float: left;
			width: 100%;
			padding: 12px 15px;
			border-left: 8px solid transparent;
			-webkit-transition: all .3s ease;
			-o-transition: all .3s ease;
			transition: all .3s ease;
			color: #12AD2C;
		}

		.global-dashboard .menu ul li a.active{
			border-left: 8px solid #12AD2C;
			background-color: #f1f1f1;
			color: #12AD2C;
			/*border-radius: 5px;*/
		}

		.global-dashboard .menu ul ul{
			display: block;
		}

		.global-dashboard .menu ul ul li a{
			display: block;
			background-color: #f8a44b42 !important;
		}

		.global-dashboard .menu ul li a:hover{
			border-left: 8px solid #12AD2C;
			background-color: #f1f1f1;
			color: #12AD2C;
			/*border-radius: 5px;*/
		}

		.main-dash-panel{
			padding: 20px 40px;
			margin-top: 20px;
			float: left;
			width: 100%;
		}

		.main-dash-panel .stats{
			color: #fff;
			text-align: right;
		}

		@media (max-width: 650px) {
			.main-dash-panel{
				padding: 0px;
			}
		}

		@media (max-width: 1199px) {
			.main-dash-panel .stats h5{
				font-size: 13px;
			}
		}

		.main-dash-panel .stats i{
			color: #fff;
			font-size: 45px;
		}

		.main-dash-panel .stats h3{
			margin: 0px;
			margin-bottom: 20px;
			font-weight: 100;
		}

		.global-dashboard .stats{
			border:2px solid #12AD2C;
			float: left;
			width: 100%;
			padding: 15px;
			border-radius: 5px;
			margin-bottom: 30px;
			background-color: #12ad2c;
			-webkit-transition: all .4s ease;
			-o-transition: all .4s ease;
			transition: all .4s ease;
		}

		.global-dashboard .stats:hover{
			-webkit-box-shadow: 0 25px 100px 5px rgba(0, 0, 0, 0.20);
			box-shadow: 0 25px 100px 5px rgba(0, 0, 0, 0.20);
		}

		.global-dashboard .stats .more-details{
			text-align: right;
			float: left;
			width: 100%;
			border-top: 1px solid #f1f1f16e;
			padding-top: 10px;
		}

		.global-dashboard .stats .more-details i{
			font-size: 15px;
			top: 2px;
		}

		.global-dashboard .stats .more-details .btn{
			border: 2px solid #fff;
			color: #ffffff;
			background-color: transparent;
		}

		.global-dashboard .stats .more-details .btn:hover{
			background-color: #fff;
			color: #12ad2c;
		}

		.global-dashboard .stats .more-details .btn:hover i{
			color: #12ad2c;
		}

		.global-dashboard i{
			position: relative;
			top: 3px;
			font-size: 16px;
		}

		.global-dashboard .menu li.has-dropdown{
			position: relative;
		}

		.global-dashboard .menu li.has-dropdown .arrow{
			float: right;
			right: 0;
			top: -44px;
			padding: 14px 10px;
			background-color: transparent;
			cursor: pointer;
			text-align: right;
			width: 175px;
			margin-bottom: -44px;
			color: #12ad2c;
		}

		.global-dashboard .menu ul ul li a{
			background-color: #f8a44b42;
			padding-left: 30px;
			border-left: 0px;
		}

		.global-dashboard .menu ul ul li a.active{
			border-left: 5px solid #12ad2c;
		}

		.global-dashboard .navigation ul a.active ul{
			display: block !important;
		}

		.global-dashboard .menu ul ul li a:hover{
			border-left: 0px;
		}

		.other-stats{
			float: left;
			width: 100%;
			border-top: 1px solid #ccc;
			padding-top: 20px;
			margin-top: 40px;
		}

		.stat-stat{
			background-color: #fff;
			padding: 10px;
			border-radius: 5px;
			box-shadow: 0 25px 100px 5px rgba(0, 0, 0, 0.20);
			-webkit-transition: all .3s ease;
			-o-transition: all .3s ease;
			transition: all .3s ease;
			color: #12ad2c;
			text-align: center;
		}

		.stat-stat:hover{
			border:2px solid #12ad2c;
			-webkit-transition: all .3s ease;
			-o-transition: all .3s ease;
			transition: all .3s ease;
		}

		/*Admin Dashboard Ends*/

		/*User Account 2*/
		.user-account-full{
			float: left;
			width: 100%;
			background: #fff;
			margin-top: 40px;
			border-radius: 5px;
			padding: 25px;
			overflow: hidden;
			position: relative;
			margin-bottom: 40px;
			-webkit-box-shadow: 0 25px 100px 5px rgba(0, 0, 0, 0.05);
			box-shadow: 0 25px 100px 5px rgba(0, 0, 0, 0.05);
		}

		.user-account-full .img-thumb{
			height: 100px;
			width: 100px;
			border-radius: 50em;
			position: relative;
			float: left;
			overflow: hidden;
			margin-right: 30px;
		}

/*Account
Thumb*/
.account-thumb{
	height: 50px;
	width: 50px;
	padding: 0px !important;
	position: relative;
	overflow: hidden;
}

.account-thumb img{
	max-width: 100% !important;
	border-radius: 50em !important;
}

/*User Account 2 Ends*/

/*Table Styling*/
.main-dash-panel .form-inline .form-control,
.account-overview .form-inline .form-control{
	border: 2px solid #12ad2c;
	height: 40px;
}

.main-dash-panel .table-bordered,
.account-overview .table-bordered{
	background-color: #fff;
	padding: 10px;
	border-radius: 5px;
	-webkit-box-shadow: 0 2px 42px -2px rgba(0,0,0,0.1);
	box-shadow: 0 2px 42px -2px rgba(0,0,0,0.1);
}

.main-dash-panel .btn.dropdown-toggle,
.account-overview .btn.dropdown-toggle{
	background-color: #12ad2c;
	color: #fff;
}

.main-dash-panel .badge.inverse,
.account-overview .badge.inverse{
	background-color: #F5911B;
}

.main-dash-panel .badge,
.account-overview .badge{
	background-color: #12ad2c;
}

table .regular{
	text-decoration: line-through;
	background-color: #F5911B !important;
}

table .sales{
	font-size: 16px;
}

.main-dash-panel .pagination>.active>a,
.account-overview .pagination>.active>a{
	background-color: #12ad2c;
	color: #fff;
	border: 0px;
}

.pagination .active{
	background: #61428c;
	color: #fff;
}

@media (min-width: 991px){
	.navbar-form .form-control{
		width: 380px;
		left: 115px;
		position: relative;
		-webkit-box-shadow: 0 2px 8px -2px rgba(0,0,0,0.2);
		box-shadow: 0 2px 10px -2px rgba(0,0,0,0.2);
		border:0px;
		height: 40px;
	}

	.navbar-form .btn{
		padding: 0px;
		border: 0px;
		position: relative;
		left: 80px;
		top: 0px;
		line-height: 0px;
	}
}

.dash-title h1{
	margin: 0px;
	font-size: 25px;
}

.dash-title {
	float: left;
	width: 100%;
	position: relative;
	margin-bottom: 40px;
}

.dash-title .btn,
.dash-title .btn-group{
	float: right;
	margin-left: 10px;
}

.dash-title i{
	position: relative;
	top: 3px;
	font-size: 16px;
}

/*Table Styling Ends*/

/*View Business*/
.business-image-area{
	float: left;
	width: 100%;
	margin-bottom: 40px;
}

.business-desc{
	float: left;
	width: 100%;
	position: relative;
	margin-bottom: 40px;
}

.dash-business-hours ul li{
	border-bottom: 1px solid #f1f1f1;
	padding: 7px 0px;
}

.dash-business-hours ul li:last-child{
	border-bottom: 0px;
}

.business-wrap{
	float: left;
	width: 100%;
	position: relative;
	margin-bottom: 40px;
}

.business-logo{
	height: 150px;
	position: relative;
	overflow: hidden;
	border-radius: 5px;
}

.business-cover{
	height: 150px;
	position: relative;
	overflow: hidden;
	border-radius: 5px;
}

.business-feats ul li{
	padding: 7px 0px;
}

.deals-desc{
	float: left;
	width: 100%;
	position: relative;
	margin-top: 30px;
	margin-bottom: 50px;
}

.purchased-deal{
	border: 4px solid #f5901b;
	float: left;
	width: 100%;
	padding: 25px 10px;
	border-radius: 10px;
}

.purchased-deal.completed{
	border: 4px solid #12ad2c;
}

.coupon-details{
	float: left;
	width: 100%;
	position: relative;
	margin-top: 40px;
	margin-bottom: 40px;
}

.request-payout{
	float: left;
	width: 100%;
	position: relative;
	border: 2px solid #12ad2c;
	padding: 40px;
	border-radius: 5px;
	margin-top: 30px;
	margin-bottom: 60px;
}

.payout-history{
	margin-bottom: 50px;
}

.payout-history .tab-content{
	margin-top: 40px;
}

.reviews-dialog .img-thumb{
	height: 80px;
	width: 80px;
	border-radius: 50em;
	position: relative;
	overflow: hidden;
}

.user-review-comments{
	position: relative;
	padding: 20px;
}

.reviews-dialog .modal-footer,
.modal-footer{
	border:0px;
}

.reviews-dialog .modal-content{
	overflow: hidden;
}

.reviews-dialog .modal-content .star-rating{
	color: #fff;
}

.reviews-dialog .modal-content .star-rating span{
	background-color: #fff;
	color: #12ad2c;
}

.reviews-dialog .modal-header{
	background-color: #12ad2c;
	color: #fff;
}

.buisness-merchant-info{
	float: left;
	width: 100%;
	position: relative;
	padding: 7px 10px;
	border: 2px solid #ccc;
	border-radius: 5px;
}

.business-gallery .slick-prev,
.business-gallery .slick-prev:hover,
.business-gallery .slick-prev:focus{
	background-color: #12ad2c !important;
	border-radius: 50px;
	height: 40px;
	width: 40px;
	left: -40px;
	color: #fff !important;
	border:0px;
}

.business-gallery .slick-next,
.business-gallery .slick-next:hover,
.business-gallery .slick-next:focus{
	border-radius: 50px;
	background-color: #12ad2c !important;
	height: 40px;
	width: 40px;
	right: -40px;
	color: #fff !important;
	border:0px;
	float: right;
}

.opening-hours{
	font-weight: 400;
}

.opening-hourss li{
	float: left;
	width: 100%;
	padding: 10px 0px;
	border: 2px solid #ccc;
	margin-bottom: 15px;
	border-radius:5px;
	background-color: #2ead2c0d;
}

.opening-hours span{
	font-weight: 600;
	float: right;
}
/*View Business Ends*/

/*New Service*/
.main-dash-panel .nav-tabs > li {
	float:none;
	display:inline-block;
	zoom:1;
}

.main-dash-panel .nav-tabs {
	text-align:center;
	margin-bottom: 30px;
	border-bottom: 2px solid #12ad2c;
}

.main-dash-panel .nav-tabs>li>a{
	color: #12ad2c;
}

.main-dash-panel .nav-tabs>li.active>a{
	background-color: #12ad2c;
	color: #fff;
	border:0px;
}
/*New Service Ends*/

/*Pricing Table*/
.pricing-table{
	border: 2px solid #12ad2c;
	border-radius: 5px;
	padding: 20px;
	text-align: center;
	background-color: #12ad2c;
	color: #fff;
	-webkit-box-shadow: 0 25px 100px 5px rgba(0, 0, 0, 0.20);
	box-shadow: 0 25px 100px 5px rgba(0, 0, 0, 0.20);
}

.pricing-table ul{
	text-align: center;
	border: 1px solid #ffffff59;
	border-radius: 5px;
}

.pricing-table li{
	border-bottom: 1px solid #ffffff59;
	padding: 10px 0px;
}

.pricing-table .btn{
	margin-top: 10px;
	background-color: #fff;
	color: #12ad2c;
	border: 0px;
}

.pricing-table li:last-child{
	border-bottom: 0px;
}

.pro-package{
	float: left;
	width: 100%;
	margin-bottom: 40px;
	background-color: #fff;
	padding: 30px;
	border-radius: 5px;
}

.package-price{
	font-size: 18px;
}

.pricing-table i{
	font-size: 16px;
	position: relative;
	top: 3px;
}

/*Pricing Table Ends*/

/*My Account Settings*/
.profile-info-head{
	float: left;
	width: 100%;
	padding-bottom: 30px;
	border-bottom: 2px solid #12ad2c;
	margin-bottom: 40px;
}

.profile-info-head .profile-img{
	height: 140px;
	width: 140px;
	border-radius: 50em;
	overflow: hidden;
	position: relative;
}

.profile-basic-info{
	float: left;
	width: 100%;
	position: relative;
	margin-bottom: 40px;
}

.user-menu{
	float: left;
	width: 100%;
	text-align: left;
	margin-top: 20px;
}

.user-menu ul li a{
	padding: 7px 0px;
	float: left;
	width: 100%;
	margin-bottom: 5px;
	padding-left: 10px;
	color: #12ad2c;
	/*border-radius: 5px;*/
	-webkit-transition: all .4s ease;
	-o-transition: all .4s ease;
	transition: all .4s ease;
}

.user-menu ul li a:hover{
	border-left: 5px solid #12ad2c;
}

.user-menu ul li a.active{
	border-left: 5px solid #12ad2c;
	background-color: #f1f1f1;
}

.user-menu ul li a:first-child{
	/*border-top: 1px solid #f1f1f1;*/
}

.user-menu i{
	font-size: 18px;
	position: relative;
	top: 4px;
}

.user-menu .arrow{
	float: right;
	right: 5%;
	background: transparent;
	position: relative;
	top: -40px;
	margin-bottom: -40px;
	width: 140px;
	text-align: right;
	padding: 10px;
	cursor: pointer;
}

.profile-heads{
	position: relative;
	overflow: hidden;
	margin-bottom: -50px;
	height: 140px;
	/*border-radius: 5px;*/
}

.profile-user-menu{
	text-align: center;
	-webkit-box-shadow: 0 25px 100px 5px rgba(0, 0, 0, 0.05);
	box-shadow: 0 25px 100px 5px rgba(0, 0, 0, 0.05);
	background-color: #fff;
	padding: 25px;
	border-radius: 5px;
	margin-bottom: 50px;
	float: left;
	width: 100%;
	position: relative;
	margin-top: 50px;
	border: 2px solid #2ead2c;
}

.profile-user-menu .img-thumb{
	height: 80px;
	width: 80px;
	border-radius: 50em;
	position: relative;
	overflow: hidden;
	margin: 0 auto;
}

/*Saved Events*/

.events-meta{
	position: absolute;
	top: 250px;
	color: #fff;
}

.evt-time{
	text-align: center;
	color:#fff;
	top: 20px;
	position: relative;
}

.evt-time{
	border:4px solid #fff;
	float: right;
	padding: 10px;
	background-color: #fff;
	border-radius: 5px;
}

.evt-time h3{
	margin: 0px;
	font-size: 16px;
	color: #2ead2c;
}

.evt-time span{
	font-weight: 600;
	font-size: 32px;
}

.events-meta h2{
	color: #fff;
}

.image-saved-event{
	height: 300px;
	position: relative;
	width: 100%;
	margin-bottom: 40px;
	overflow: hidden;
	border-radius: 10px;
}

.saved-user-gallery{
	float: left;
	width: 100%;
	position: relative;
	margin-bottom: 40px;
	margin-top: 40px;
}

.user-account-details{
	float: left;
	width: 100%;
	position: relative;
	margin-top: 40px;
	margin-bottom: 40px;
}

.user-account-details .nav-tabs{
	border-bottom: 0px;
}

.user-account-details .tab-content{
	background-color: #fff;
	padding: 20px 10px 40px 20px;
	border-radius: 10px;
}

.user-account-details .nav-pills>li.active>a{
	background-color: #12ad2c;
	border:0px;
}

.user-account-details .nav-pills>li>a:hover{
	border:0px;
}

.user-account-details .nav-stacked i{
	font-size: 16px;
	position: relative;
	top: 3px;
}
/*My Account Settings Ends*/

/*Admin Stats*/
.admin-stats{
	float: left;
	width: 100%;
	position: relative;
	background-color: #fff;
	/*padding: 10px;*/
	border-radius: 5px;
	overflow: hidden;
	border-bottom: 2px solid #12ad2c;
	-webkit-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
	margin-bottom: 30px;
}

.admin-stats.new{
	border-bottom: 2px solid #F5911B;
}

.admin-stats:hover{
	-webkit-box-shadow: 0 25px 100px 5px rgba(0, 0, 0, 0.20);
	box-shadow: 0 25px 100px 5px rgba(0, 0, 0, 0.20);
}

.admin-stats a{
	color: #12ad2c;
}

.admin-stats.new a{
	color: #F5911B;
}

.admin-stats h3{
	margin: 0px;
	color: #fff;
}

.admin-stats .stats-l{
	background-color: #12ad2c;
	height: 100%;
	padding: 15px;
}

.admin-stats.new .stats-l{
	background-color: #F5911B;
}

.admin-stats .stats-r{
	padding: 8px;
}

.admin-stats i{
	float: right;
	right: 0;
	top: -1px;
}
/*Admin Stats Ends*/

/*Admin Login*/

/*Admin Login Ends*/

/*Cart*/

.my-cart{
	float: left;
	width: 100%;
	position: relative;
	margin-top: 40px;
}

.my-cart .table{
	background-color: #fff;
	-webkit-box-shadow: 0 2px 42px -2px rgba(0,0,0,0.1);
	box-shadow: 0 2px 42px -2px rgba(0,0,0,0.1);
	border-radius: 10px;
	border: 0px;
}

.my-cart h3{
	margin: 0px;
}

.my-cart .img-thumb{
	width: 80px;
	height: 80px;
	float: left;
	border-radius: 50em;
	overflow: hidden;
	position: relative;
}

.remove-cart{
	float: left;
	margin-right: 20px;
	z-index: 1;
}

.cart-order{
	background-color: #fff;
	padding: 25px;
	border-radius: 5px;
	margin-bottom: 20px;
}

.cart-order .img-thumb{
	margin-right: 15px;
}

.cart-order p{
	margin: 0px;
}

.order-carts{
	float: left;
	width: 100%;
	position: relative;
	margin-bottom: 40px;
}

.cart-shipping{
	float: left;
	width: 100%;
	position: relative;
	font-weight: 600;
}

.cart-shipping span{
	text-align: right;
	float: right;
	font-weight: 400;
}

/*Cart Ends*/

/*Media Queries*/
@media (max-width: 991px) {
	.featured-cards.deals .feats,
	.featured-cards .feats,
	.featured-cards.event .feats{
		left: -3% !important;
		top: -20% !important;
	}	
}

@media (max-width: 560px) {
	.featured-cards.deals .feats,
	.featured-cards .feats,
	.featured-cards.event .feats{
		left: -4%;
		top: -20%;
	}	
}
/*Media Queries Ends*/

/*Search Results*/
.main-search-results .tab-content h2{
	margin: 0px;
}
/*Search Results Ends*/

/*Offcanvas Navigation*/

/*Offcanvas Navigation Ends*/

/*Cart*/
.cart-holder .dropdown-menu{
	width: 250px;
	padding: 0px;
	overflow: hidden;
	border: 0px;
}

.navbar.navbar-default .navbar-nav>.open>a,
.navbar.navbar-default .navbar-nav>.active>a{
	background: transparent;
}

.cart-holder .btn{
	border-radius: 0px;
}

.cart-holder .dropdown-menu li{
	border-bottom: 1px solid #ccc;
	float: left;
	width: 100%;
	padding: 5px 0px;
}

.cart-holder .dropdown-menu li:last-child{
	border-bottom: 0px;
}

.cart-item{
	float: left;
	width: 100%;
	position: relative;
}

.cart-item .remove-cart{
	position: absolute;
	float: right;
	right: -15%;
	color: #808080;
}

.cart-item .remove-cart i{
	font-size: 16px;
}

.cart-item p{
	margin: 0px;
}

.cart-item .img-thumb{
	width: 50px;
	height: 50px;
	border-radius: 50em;
	margin-right: 10px;
	overflow: hidden;
	float: left;
}
/*Cart Ends*/

/*All By*/
.spots-all-by{
	float: left;
	width: 100%;
	position: relative;
	padding: 30px;
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0 2px 42px -7px rgba(0,0,0,0.4);
	text-align: center;
	margin-bottom: 50px;
}

.spots-all-by .img-thumb{
	width: 80px;
	height: 80px;
	border-radius: 50em;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
	box-shadow: 0 2px 42px -7px rgba(0,0,0,0.4);
}

.spots-all-by p{
	padding: 10px 0px;
}
/*All By Ends*/


/*Animated Headlines*/
/*Animated Headlines*/



.cd-title {
	position: relative;
	height: 80px;
	line-height: 80px;
	text-align: center;
}
.cd-title h1 {
	font-size: 1.6rem;
}

.cd-filter, .cd-intro {
	width: 90%;
	text-align: center;
}

.cd-intro {
	margin: 1.6em auto;
}

.cd-filter {
	margin: 0 auto;
	text-align: center;
}
.cd-filter li {
	position: relative;
	display: inline-block;
	margin: 0;
}
.cd-filter input {
	position: absolute;
	left: 0;
	top: 0;
	opacity: 0;
}

.cd-filter input:checked + label {
	border-color: #12ad2c;
	color: rgba(255, 255, 255, 1);
}
.cd-filter label {
	border-color: #12ad2c;
	border-style: solid;
	border-width: 0 0 2px;
	color: rgba(255, 255, 255, 0.7);
	cursor: pointer;
	display: inline-block;
	margin: 0;
	padding: 0.4em 0.6em;
}
.cd-filter label:hover {
	border-color: rgba(255, 255, 255, 0.7);
}

.cd-headline {
	font-size: 4rem;
	font-weight: 300;
	line-height: 1;
}

.cd-words-wrapper {
	display: inline-block;
	position: relative;
	text-align: left;
}
.cd-words-wrapper b {
	display: inline-block;
	position: absolute;
	white-space: nowrap;
	left: 0;
	top: 0;
}
.cd-words-wrapper b.is-visible {
	position: relative;
}

/* -------------------------------- 

xrotate-1 

-------------------------------- */
.cd-headline.rotate-1 .cd-words-wrapper {
	perspective: 300px;
}
.cd-headline.rotate-1 b {
	opacity: 0;
	transform-origin: 50% 100%;
	transform: rotateX(180deg);
}
.cd-headline.rotate-1 b.is-visible {
	opacity: 1;
	transform: rotateX(0deg);
	animation: cd-rotate-1-in 1.2s;
}
.cd-headline.rotate-1 b.is-hidden {
	transform: rotateX(180deg);
	animation: cd-rotate-1-out 1.2s;
}
@keyframes cd-rotate-1-in {
	0% {
		transform: rotateX(180deg);
		opacity: 0;
	}
	35% {
		transform: rotateX(120deg);
		opacity: 0;
	}
	65% {
		opacity: 0;
	}
	100% {
		transform: rotateX(360deg);
		opacity: 1;
	}
}
@keyframes cd-rotate-1-out {
	0% {
		transform: rotateX(0deg);
		opacity: 1;
	}
	35% {
		transform: rotateX(-40deg);
		opacity: 1;
	}
	65% {
		opacity: 0;
	}
	100% {
		transform: rotateX(180deg);
		opacity: 0;
	}
}

/* -------------------------------- 

xrotate-2 

-------------------------------- */
.cd-headline.rotate-2 .cd-words-wrapper {
	perspective: 300px;
}
.cd-headline.rotate-2 i, .cd-headline.rotate-2 em {
	display: inline-block;
	backface-visibility: hidden;
}
.cd-headline.rotate-2 i {
	transform-style: preserve-3d;
	transform: translateZ(-20px) rotateX(90deg);
	opacity: 0;
}
.is-visible .cd-headline.rotate-2 i {
	opacity: 1;
}
.cd-headline.rotate-2 i.in {
	animation: cd-rotate-2-in 0.4s forwards;
}
.cd-headline.rotate-2 i.out {
	animation: cd-rotate-2-out 0.4s forwards;
}
.cd-headline.rotate-2 em {
	transform: translateZ(20px);
}

.no-csstransitions .cd-headline.rotate-2 i {
	transform: rotateX(0deg);
	opacity: 0;
}
.no-csstransitions .cd-headline.rotate-2 i em {
	transform: scale(1);
}

.no-csstransitions .cd-headline.rotate-2 .is-visible i {
	opacity: 1;
}

@keyframes cd-rotate-2-in {
	0% {
		opacity: 0;
		transform: translateZ(-20px) rotateX(90deg);
	}
	60% {
		opacity: 1;
		transform: translateZ(-20px) rotateX(-10deg);
	}
	100% {
		opacity: 1;
		transform: translateZ(-20px) rotateX(0deg);
	}
}

@keyframes cd-rotate-2-out {
	0% {
		opacity: 1;
		transform: translateZ(-20px) rotateX(0);
	}
	60% {
		opacity: 0;
		transform: translateZ(-20px) rotateX(-100deg);
	}
	100% {
		opacity: 0;
		transform: translateZ(-20px) rotateX(-90deg);
	}
}

/* -------------------------------- 

xloading-bar 

-------------------------------- */
.cd-headline.loading-bar span {
	display: inline-block;
	padding: .2em 0;
}
.cd-headline.loading-bar .cd-words-wrapper {
	overflow: hidden;
	vertical-align: top;
}
.cd-headline.loading-bar .cd-words-wrapper::after {
	/* loading bar */
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	height: 3px;
	width: 0;
	background: #12ad2c;
	z-index: 2;
	transition: width 0.3s -0.1s;
}
.cd-headline.loading-bar .cd-words-wrapper.is-loading::after {
	width: 100%;
	transition: width 3s;
}
.cd-headline.loading-bar b {
	top: .2em;
	opacity: 0;
	transition: opacity 0.3s;
}
.cd-headline.loading-bar b.is-visible {
	opacity: 1;
	top: 0;
}

/* -------------------------------- 

xslide 

-------------------------------- */
.cd-headline.slide span {
	display: inline-block;
	padding: .2em 0 .3em;
}
.cd-headline.slide .cd-words-wrapper {
	overflow: hidden;
	vertical-align: top;
}
.cd-headline.slide b {
	opacity: 0;
	top: .2em;
}
.cd-headline.slide b.is-visible {
	top: 0;
	opacity: 1;
	animation: slide-in 0.6s;
}
.cd-headline.slide b.is-hidden {
	animation: slide-out 0.6s;
}

@keyframes slide-in {
	0% {
		opacity: 0;
		transform: translateY(-100%);
	}
	60% {
		opacity: 1;
		transform: translateY(20%);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}
@keyframes slide-out {
	0% {
		opacity: 1;
		transform: translateY(0);
	}
	60% {
		opacity: 0;
		transform: translateY(120%);
	}
	100% {
		opacity: 0;
		transform: translateY(100%);
	}
}

/* -------------------------------- 

xscale 

-------------------------------- */
.cd-headline.scale i {
	display: inline-block;
	opacity: 0;
	transform: scale(0);
}
.is-visible .cd-headline.scale i {
	opacity: 1;
}
.cd-headline.scale i.in {
	animation: scale-up 0.6s forwards;
}
.cd-headline.scale i.out {
	animation: scale-down 0.6s forwards;
}

.no-csstransitions .cd-headline.scale i {
	transform: scale(1);
	opacity: 0;
}

.no-csstransitions .cd-headline.scale .is-visible i {
	opacity: 1;
}

@keyframes scale-up {
	0% {
		transform: scale(0);
		opacity: 0;
	}
	60% {
		transform: scale(1.2);
		opacity: 1;
	}
	100% {
		transform: scale(1);
		opacity: 1;
	}
}
@keyframes scale-down {
	0% {
		transform: scale(1);
		opacity: 1;
	}
	60% {
		transform: scale(0);
		opacity: 0;
	}
}

/*Tipsy*/
.tipsy { font-size: 10px; position: absolute; padding: 5px; z-index: 100000; }
.tipsy-inner { background-color: #000; color: #FFF; max-width: 200px; padding: 5px 8px 4px 8px; text-align: center; }

/* Rounded corners */
.tipsy-inner { border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; }

/* Uncomment for shadow */
/*.tipsy-inner { box-shadow: 0 0 5px #000000; -webkit-box-shadow: 0 0 5px #000000; -moz-box-shadow: 0 0 5px #000000; }*/

.tipsy-arrow { position: absolute; width: 0; height: 0; line-height: 0; border: 5px dashed #000; }

/* Rules to colour arrows */
.tipsy-arrow-n { border-bottom-color: #000; }
.tipsy-arrow-s { border-top-color: #000; }
.tipsy-arrow-e { border-left-color: #000; }
.tipsy-arrow-w { border-right-color: #000; }

.tipsy-n .tipsy-arrow { top: 0px; left: 50%; margin-left: -5px; border-bottom-style: solid; border-top: none; border-left-color: transparent; border-right-color: transparent; }
.tipsy-nw .tipsy-arrow { top: 0; left: 10px; border-bottom-style: solid; border-top: none; border-left-color: transparent; border-right-color: transparent;}
.tipsy-ne .tipsy-arrow { top: 0; right: 10px; border-bottom-style: solid; border-top: none;  border-left-color: transparent; border-right-color: transparent;}
.tipsy-s .tipsy-arrow { bottom: 0; left: 50%; margin-left: -5px; border-top-style: solid; border-bottom: none;  border-left-color: transparent; border-right-color: transparent; }
.tipsy-sw .tipsy-arrow { bottom: 0; left: 10px; border-top-style: solid; border-bottom: none;  border-left-color: transparent; border-right-color: transparent; }
.tipsy-se .tipsy-arrow { bottom: 0; right: 10px; border-top-style: solid; border-bottom: none; border-left-color: transparent; border-right-color: transparent; }
.tipsy-e .tipsy-arrow { right: 0; top: 50%; margin-top: -5px; border-left-style: solid; border-right: none; border-top-color: transparent; border-bottom-color: transparent; }
.tipsy-w .tipsy-arrow { left: 0; top: 50%; margin-top: -5px; border-right-style: solid; border-left: none; border-top-color: transparent; border-bottom-color: transparent; }


/*Toastr*/
.toast-title {
	font-weight: bold;
}
.toast-message {
	-ms-word-wrap: break-word;
	word-wrap: break-word;
}
.toast-message a,
.toast-message label {
	color: #FFFFFF;
}
.toast-message a:hover {
	color: #CCCCCC;
	text-decoration: none;
}
.toast-close-button {
	position: relative;
	right: -0.3em;
	top: -0.3em;
	float: right;
	font-size: 20px;
	font-weight: bold;
	color: #FFFFFF;
	-webkit-text-shadow: 0 1px 0 #ffffff;
	text-shadow: 0 1px 0 #ffffff;
	opacity: 0.8;
	-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
	filter: alpha(opacity=80);
	line-height: 1;
}
.toast-close-button:hover,
.toast-close-button:focus {
	color: #000000;
	text-decoration: none;
	cursor: pointer;
	opacity: 0.4;
	-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
	filter: alpha(opacity=40);
}
.rtl .toast-close-button {
	left: -0.3em;
	float: left;
	right: 0.3em;
}
/*Additional properties for button version
 iOS requires the button element instead of an anchor tag.
 If you want the anchor version, it requires `href="#"`.*/
 button.toast-close-button {
 	padding: 0;
 	cursor: pointer;
 	background: transparent;
 	border: 0;
 	-webkit-appearance: none;
 }
 .toast-top-center {
 	top: 0;
 	right: 0;
 	width: 100%;
 }
 .toast-bottom-center {
 	bottom: 0;
 	right: 0;
 	width: 100%;
 }
 .toast-top-full-width {
 	top: 0;
 	right: 0;
 	width: 100%;
 }
 .toast-bottom-full-width {
 	bottom: 0;
 	right: 0;
 	width: 100%;
 }
 .toast-top-left {
 	top: 12px;
 	left: 12px;
 }
 .toast-top-right {
 	top: 12px;
 	right: 12px;
 }
 .toast-bottom-right {
 	right: 12px;
 	bottom: 12px;
 }
 .toast-bottom-left {
 	bottom: 12px;
 	left: 12px;
 }
 #toast-container {
 	position: fixed;
 	z-index: 999999;
 	pointer-events: none;
 	/*overrides*/
 }
 #toast-container * {
 	-moz-box-sizing: border-box;
 	-webkit-box-sizing: border-box;
 	box-sizing: border-box;
 }
 #toast-container > div {
 	position: relative;
 	pointer-events: auto;
 	overflow: hidden;
 	margin: 0 0 6px;
 	padding: 15px 15px 15px 50px;
 	width: 300px;
 	-moz-border-radius: 3px 3px 3px 3px;
 	-webkit-border-radius: 3px 3px 3px 3px;
 	border-radius: 3px 3px 3px 3px;
 	background-position: 15px center;
 	background-repeat: no-repeat;
 	-moz-box-shadow: 0 0 12px #999999;
 	-webkit-box-shadow: 0 0 12px #999999;
 	box-shadow: 0 0 12px #999999;
 	color: #FFFFFF;
 	opacity: 0.8;
 	-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
 	filter: alpha(opacity=80);
 }
 #toast-container > div.rtl {
 	direction: rtl;
 	padding: 15px 50px 15px 15px;
 	background-position: right 15px center;
 }
 #toast-container > div:hover {
 	-moz-box-shadow: 0 0 12px #000000;
 	-webkit-box-shadow: 0 0 12px #000000;
 	box-shadow: 0 0 12px #000000;
 	opacity: 1;
 	-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
 	filter: alpha(opacity=100);
 	cursor: pointer;
 }
 #toast-container > .toast-info {
 	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAGwSURBVEhLtZa9SgNBEMc9sUxxRcoUKSzSWIhXpFMhhYWFhaBg4yPYiWCXZxBLERsLRS3EQkEfwCKdjWJAwSKCgoKCcudv4O5YLrt7EzgXhiU3/4+b2ckmwVjJSpKkQ6wAi4gwhT+z3wRBcEz0yjSseUTrcRyfsHsXmD0AmbHOC9Ii8VImnuXBPglHpQ5wwSVM7sNnTG7Za4JwDdCjxyAiH3nyA2mtaTJufiDZ5dCaqlItILh1NHatfN5skvjx9Z38m69CgzuXmZgVrPIGE763Jx9qKsRozWYw6xOHdER+nn2KkO+Bb+UV5CBN6WC6QtBgbRVozrahAbmm6HtUsgtPC19tFdxXZYBOfkbmFJ1VaHA1VAHjd0pp70oTZzvR+EVrx2Ygfdsq6eu55BHYR8hlcki+n+kERUFG8BrA0BwjeAv2M8WLQBtcy+SD6fNsmnB3AlBLrgTtVW1c2QN4bVWLATaIS60J2Du5y1TiJgjSBvFVZgTmwCU+dAZFoPxGEEs8nyHC9Bwe2GvEJv2WXZb0vjdyFT4Cxk3e/kIqlOGoVLwwPevpYHT+00T+hWwXDf4AJAOUqWcDhbwAAAAASUVORK5CYII=") !important;
 }
 #toast-container > .toast-error {
 	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAHOSURBVEhLrZa/SgNBEMZzh0WKCClSCKaIYOED+AAKeQQLG8HWztLCImBrYadgIdY+gIKNYkBFSwu7CAoqCgkkoGBI/E28PdbLZmeDLgzZzcx83/zZ2SSXC1j9fr+I1Hq93g2yxH4iwM1vkoBWAdxCmpzTxfkN2RcyZNaHFIkSo10+8kgxkXIURV5HGxTmFuc75B2RfQkpxHG8aAgaAFa0tAHqYFfQ7Iwe2yhODk8+J4C7yAoRTWI3w/4klGRgR4lO7Rpn9+gvMyWp+uxFh8+H+ARlgN1nJuJuQAYvNkEnwGFck18Er4q3egEc/oO+mhLdKgRyhdNFiacC0rlOCbhNVz4H9FnAYgDBvU3QIioZlJFLJtsoHYRDfiZoUyIxqCtRpVlANq0EU4dApjrtgezPFad5S19Wgjkc0hNVnuF4HjVA6C7QrSIbylB+oZe3aHgBsqlNqKYH48jXyJKMuAbiyVJ8KzaB3eRc0pg9VwQ4niFryI68qiOi3AbjwdsfnAtk0bCjTLJKr6mrD9g8iq/S/B81hguOMlQTnVyG40wAcjnmgsCNESDrjme7wfftP4P7SP4N3CJZdvzoNyGq2c/HWOXJGsvVg+RA/k2MC/wN6I2YA2Pt8GkAAAAASUVORK5CYII=") !important;
 }
 #toast-container > .toast-success {
 	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAADsSURBVEhLY2AYBfQMgf///3P8+/evAIgvA/FsIF+BavYDDWMBGroaSMMBiE8VC7AZDrIFaMFnii3AZTjUgsUUWUDA8OdAH6iQbQEhw4HyGsPEcKBXBIC4ARhex4G4BsjmweU1soIFaGg/WtoFZRIZdEvIMhxkCCjXIVsATV6gFGACs4Rsw0EGgIIH3QJYJgHSARQZDrWAB+jawzgs+Q2UO49D7jnRSRGoEFRILcdmEMWGI0cm0JJ2QpYA1RDvcmzJEWhABhD/pqrL0S0CWuABKgnRki9lLseS7g2AlqwHWQSKH4oKLrILpRGhEQCw2LiRUIa4lwAAAABJRU5ErkJggg==") !important;
 }
 #toast-container > .toast-warning {
 	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAGYSURBVEhL5ZSvTsNQFMbXZGICMYGYmJhAQIJAICYQPAACiSDB8AiICQQJT4CqQEwgJvYASAQCiZiYmJhAIBATCARJy+9rTsldd8sKu1M0+dLb057v6/lbq/2rK0mS/TRNj9cWNAKPYIJII7gIxCcQ51cvqID+GIEX8ASG4B1bK5gIZFeQfoJdEXOfgX4QAQg7kH2A65yQ87lyxb27sggkAzAuFhbbg1K2kgCkB1bVwyIR9m2L7PRPIhDUIXgGtyKw575yz3lTNs6X4JXnjV+LKM/m3MydnTbtOKIjtz6VhCBq4vSm3ncdrD2lk0VgUXSVKjVDJXJzijW1RQdsU7F77He8u68koNZTz8Oz5yGa6J3H3lZ0xYgXBK2QymlWWA+RWnYhskLBv2vmE+hBMCtbA7KX5drWyRT/2JsqZ2IvfB9Y4bWDNMFbJRFmC9E74SoS0CqulwjkC0+5bpcV1CZ8NMej4pjy0U+doDQsGyo1hzVJttIjhQ7GnBtRFN1UarUlH8F3xict+HY07rEzoUGPlWcjRFRr4/gChZgc3ZL2d8oAAAAASUVORK5CYII=") !important;
 }
 #toast-container.toast-top-center > div,
 #toast-container.toast-bottom-center > div {
 	width: 300px;
 	margin-left: auto;
 	margin-right: auto;
 }
 #toast-container.toast-top-full-width > div,
 #toast-container.toast-bottom-full-width > div {
 	width: 96%;
 	margin-left: auto;
 	margin-right: auto;
 }
 .toast {
 	background-color: #030303;
 }
 .toast-success {
 	background-color: #51A351;
 }
 .toast-error {
 	background-color: #BD362F;
 }
 .toast-info {
 	background-color: #2F96B4;
 }
 .toast-warning {
 	background-color: #F89406;
 }
 .toast-progress {
 	position: absolute;
 	left: 0;
 	bottom: 0;
 	height: 4px;
 	background-color: #000000;
 	opacity: 0.4;
 	-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
 	filter: alpha(opacity=40);
 }
 /*Responsive Design*/
 @media all and (max-width: 240px) {
 	#toast-container > div {
 		padding: 8px 8px 8px 50px;
 		width: 11em;
 	}
 	#toast-container > div.rtl {
 		padding: 8px 50px 8px 8px;
 	}
 	#toast-container .toast-close-button {
 		right: -0.2em;
 		top: -0.2em;
 	}
 	#toast-container .rtl .toast-close-button {
 		left: -0.2em;
 		right: 0.2em;
 	}
 }
 @media all and (min-width: 241px) and (max-width: 480px) {
 	#toast-container > div {
 		padding: 8px 8px 8px 50px;
 		width: 18em;
 	}
 	#toast-container > div.rtl {
 		padding: 8px 50px 8px 8px;
 	}
 	#toast-container .toast-close-button {
 		right: -0.2em;
 		top: -0.2em;
 	}
 	#toast-container .rtl .toast-close-button {
 		left: -0.2em;
 		right: 0.2em;
 	}
 }
 @media all and (min-width: 481px) and (max-width: 768px) {
 	#toast-container > div {
 		padding: 15px 15px 15px 50px;
 		width: 25em;
 	}
 	#toast-container > div.rtl {
 		padding: 15px 50px 15px 15px;
 	}
 }

 .navbar.solid{
 	z-index: 1;
 	border-bottom: 1px solid #f1f1f1 !important;
 }

 @media (max-width: 991px) {
    .divide-left{
      height: 100vh;
    }

    .divide-left .contents{
      padding: 50px;
    }
  }

  @media (max-width: 767px) {
    .divide-left{
      height: 100%;
    }

    .divide-left .contents h1{
      font-size: 28px;
    }

    .lefty{
      height: 400px;
    }

    .divide-left .contents{
      padding: 50px;
    }

    .divide-right{
      margin-bottom: 50px;
    }
  }

  @media (max-width: 767px) {
    .lefty{
      display: none;
    }
  }

  @media (max-width: 425px) {
    .divide-left .footer-info ul li a{
      padding: 4px 8px;
      border:0px;
      border-bottom: 2px solid #fff;
      border-radius: 0px;
    }
    .divide-left .footer-info ul li{
      margin-right: 5px;
    }
    .divide-left .contents{
      padding: 40px;
    }
  }

      .login-btn-mobile{
        float: right;
        border: 2px solid #fff;
        border-radius: 5px;
        padding: 7px 14px;
        top: -35px;
        position: relative;
        right: 14%;
    }

    .login-btn-mobile i{
        font-size: 17px !important;
        position: relative;
        top: 3px;
    }

    @media (min-width: 768px) and (max-width: 991px) {
        .navbar-offcanvas {
            display: none !important;
        }
        .navbar-header .collapse, .navbar-toggle {
            display:block !important;
        }
        .navbar-header {
            float:none;
        }
    }

/*Maps*/

h4 > form > input{

    display: block;
    width: 100%;
    height: 24px;
    padding: 2px 4px;
    color: #555;
    border: 1px dotted #ccc;
    border-radius: 2px;
}

.no-border {

 	border:none;
}

.bootstrap-datetimepicker-widget{

	background: #fff;
	padding : 10px;
	border-radius: 5px;
}

.svg{

	width:30%; 
	height:30%; 
	margin:0px auto; 
	display:block;
}